
<title>Application</title>
<style>
#myCarousel {
    margin-left: 50px;
    margin-right: 50px;
}
</style>
<body>
  <div id="overlay" ng-show="vm.loading">
        <div class="loader"></div>
    </div>
  <div id="tutorial-overlay" ng-show="vm.tutorial.toggle" >
  </div>
    <nav role="navigation" class="navbar navbar-custom navbar-static-top">
      <div class="container-fluid" ng-switch="vm.submitIsUpdate">
        <element class="navbar-header" ng-switch-when="false">
          <h5 class="navbar-text">Student Application (Not Completed)</h5>
        </element>
        <element class="navbar-header" ng-switch-when="true">
          <h5 class="navbar-text">Student Application (Completed) - Continue to Forms</h5>
        </element>

        <form class="navbar-right">
          <label class="navbar-text" style="margin-bottom:0px;">Tutorial</label>
          <div class="input-group">
          <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" ng-model="vm.tutorial.toggle" ng-change="vm.tutorialPlay()" id="myonoffswitch" checked>
            <label class="onoffswitch-label" for="myonoffswitch">
              <span class="onoffswitch-inner"></span>
              <span class="onoffswitch-switch"></span>
            </label>
          </div>
        </div>
        </form>
      </div>
    </nav>
<!--<nav role="navigation" class="navbar navbar-custom navbar-static-top">
  <div class="container-fluid" ng-switch="vm.submitIsUpdate">
    <element class="navbar-header" ng-switch-when="false">
      <h3 class="navbar-text">Student Application (not completed)</h2>
    </element>
    <element class="navbar-header" ng-switch-when="true">
      <h3 class="navbar-text">Student Application Completed</h2>
    </element>
    </div>
</nav>-->
<br>
<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->

<form name="vm.studentForm" class="application" novalidate autocomplete="off">
<!--BEGIN CARD-->
<!-- START CAROUSEL -->
<!--<div id="myCarousel" class="carousel slide" data-ride="carousel">-->
<br />
<br />
<div id="myCarousel" class="carousel slide" data-interval="false">
<div class="jumbotron text-center">
<!-- Indicators -->

<!-- START SLIDE -->
<div class="container">
<div class="carousel-inner">
<div id="personal" class="item active">
  <h3 style="font-family: 'Lato', sans-serif; font-wight: bold;">Personal Information<span style="color:red;">*</span></h3>
  <br>
  <div class="col-xs-6">
    <div class="form-group" show-errors>
      <!--  <label for="firstName">First Name</label>-->
      <input type="text" id="firstName" name="firstName" class="form-control" ng-model="vm.credentials.application.firstName" placeholder="First Name" required autofocus>
      <div ng-messages="vm.studentForm.firstName.$error" role="alert">
        <p class="help-block error-text" ng-message="required">First name is required.</p>
      </div>
    </div>
    <div class="form-group" show-errors>
      <!--  <label for="lastName">Last Name</label>-->
      <input type="text" id="lastName" name="lastName" class="form-control" ng-model="vm.credentials.application.lastName" placeholder="Last Name" required>
      <div ng-messages="vm.studentForm.lastName.$error" role="alert">
        <p class="help-block error-text" ng-message="required">Last name is required.</p>
      </div>
    </div>
    <div class="form-group" show-errors>
      <!--  <label for="email">Email</label>-->
      <input type="email" id="email" name="email" class="form-control" ng-model="vm.credentials.application.email" placeholder="Email" lowercase required>
      <div ng-messages="vm.studentForm.email.$error" role="alert">
        <p class="help-block error-text" ng-message="required">Email address is required.</p>
        <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
      </div>
    </div>
    <div class="form-group" show-errors>
      <!--  <label for="phone">Phone</label>-->
      <input type="phone" id="phone" name="phone" class="form-control" ng-model="vm.credentials.application.phone" placeholder="Phone" required>
      <div ng-messages="vm.studentForm.phone.$error" role="alert">
        <p class="help-block error-text" ng-message="required">Phone is required.</p>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="form-group" show-errors>
      <!--  <label for="homeAddress1">Home Address Line 1</label>-->
      <input type="text" id="homeAddress1" name="homeAddress1" class="form-control" ng-model="vm.credentials.application.address.line_1" placeholder="Address Line 1" required>
      <div ng-messages="vm.studentForm.homeAddress1.$error" role="alert">
        <p class="help-block error-text" ng-message="required">Address Line 1 is required.</p>
      </div>
    </div>

    <!--  <label for="homeAddress2">Home Address Line 2</label>-->
    <div class="form-group" show-errors>
      <input type="text" id="homeAddress2" name="homeAddress2" class="form-control" ng-model="vm.credentials.application.address.line_2" placeholder="Address Line 2">
    </div>
  </div>
  <div class="col-xs-6 col-sm-3">
    <div class="form-group" show-errors>
      <!--  <label for="city">City</label>-->
      <input type="text" id="city" name="city" class="form-control" ng-model="vm.credentials.application.address.city" placeholder="City" required>
      <div ng-messages="vm.studentForm.city.$error" role="alert">
        <p class="help-block error-text" ng-message="required">City is required.</p>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-3">
    <!--<label for="state">State</label>-->
    <div class="form-group" show-errors>
      <input type="text" id="state" name="state" class="form-control" ng-model="vm.credentials.application.address.state" placeholder="State" required>
      <div ng-messages="vm.studentForm.state.$error" role="alert">
        <p class="help-block error-text" ng-message="required">State is required.</p>
      </div>
    </div>
  </div>

  <!--  <label for="state">Zipcode</label>-->
  <div class="col-xs-6">
    <div class="form-group" show-errors>
      <input type="text" id="zipcode" name="zipcode" class="form-control" ng-model="vm.credentials.application.address.zipcode" placeholder="Zipcode" required>
      <div ng-messages="vm.studentForm.zipcode.$error" role="alert">
        <p class="help-block error-text" ng-message="required">Zipcode is required.</p>
      </div>
    </div>
  </div>
  <!-- END CARD -->
</div>

<!-- BEGIN CARD -->
<div id="parent" class="item">
  <div class="col-xs-6 col-xs-offset-3" >
    <h3 style="font-family: 'Lato', sans-serif; font-wight: bold;">Parent Information<span style="color:red;">*</span></h3>
    <br>
    <!-- <label for="parentName">Parent Name</label> -->
    <div class="form-group" show-errors>
      <input type="text" id="parentName" name="parentName" class="form-control" ng-model="vm.credentials.application.parent.name" placeholder="Parent Name" required>
      <div ng-messages="vm.studentForm.parentName.$error" role="alert">
        <p class="help-block error-text" ng-message="required">Parent name is required.</p>
      </div>
    </div>

    <!-- <label for="parentEmail">Parent E-mail</label> -->
    <div class="form-group" show-errors>
      <input type="text" id="parentEmail" name="parentEmail" class="form-control" ng-model="vm.credentials.application.parent.email" placeholder="Parent Email" required>
      <div ng-messages="vm.studentForm.parentEmail.$error" role="alert">
        <p class="help-block error-text" ng-message="required">Parent e-mail is required.</p>
      </div>
    </div>

    <!-- <label for="parentPhone">Parent Phone</label> -->
    <div class="form-group" show-errors>
      <input type="text" id="parentPhone" name="parentPhone" class="form-control" ng-model="vm.credentials.application.parent.phone" placeholder="Parent Phone" required>
      <div ng-messages="vm.studentForm.parentPhone.$error" role="alert">
        <p class="help-block error-text" ng-message="required">Parent phone is required.</p>
      </div>
    </div>
  </div>
 </div>
  <!-- END CARD -->


<div id="emergency" class="item">
  <div class="col-xs-6 col-xs-offset-3">
    <h3 style="font-family: 'Lato', sans-serif; font-wight: bold;">Emergency Contact Information<span style="color:red;">*</span></h3>
    <br>
  </div>
  <!-- <label for="parentName">Parent Name</label> -->
  <div class="container">
    <div class="col-xs-6">
      <div class="form-group" show-errors>
        <input type="text" id="emergencyName" name="emergencyName" class="form-control" ng-model="vm.credentials.application.emergency.name" placeholder="Name" required>
        <div ng-messages="vm.studentForm.parentName.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Emergency contact name is required.</p>
        </div>
      </div>

      <!-- <label for="parentEmail">Parent E-mail</label> -->
      <div class="form-group" show-errors>
        <input type="text" id="emergencyEmail" name="emergencyEmail" class="form-control" ng-model="vm.credentials.application.emergency.email" placeholder="Email" required>
        <div ng-messages="vm.studentForm.parentEmail.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Emergency contact e-mail is required.</p>
        </div>
      </div>

      <!-- <label for="parentPhone">Parent Phone</label> -->
      <div class="form-group" show-errors>
        <input type="text" id="emergencyPhone" name="emergencyPhone" class="form-control" ng-model="vm.credentials.application.emergency.phone" placeholder="Phone" required>
        <div ng-messages="vm.studentForm.parentPhone.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Emergency contact phone is required.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group" show-errors>
        <!--  <label for="homeAddress1">Home Address Line 1</label>-->
        <input type="text" id="homeAddress1" name="emergency_homeAddress1" class="form-control" ng-model="vm.credentials.application.emergency.address.line_1" placeholder="Address Line 1" required>
        <div ng-messages="vm.studentForm.emergency_homeAddress1.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Address Line 1 is required.</p>
        </div>
      </div>

      <!--  <label for="homeAddress2">Home Address Line 2</label>-->
      <div class="form-group" show-errors>
        <input type="text" id="homeAddress2" name="homeAddress2" class="form-control" ng-model="vm.credentials.application.emergency.address.line_2" placeholder="Address Line 2">
      </div>
    </div>
    <div class="row">
      <div class="container">
        <div class="col-xs-6 col-sm-3">
          <div class="form-group" show-errors>
            <!--  <label for="city">City</label>-->
            <input type="text" id="city" name="emergency_city" class="form-control" ng-model="vm.credentials.application.emergency.address.city" placeholder="City" required>
            <div ng-messages="vm.studentForm.emergency_city.$error" role="alert">
              <p class="help-block error-text" ng-message="required">City is required.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3">
          <!--<label for="state">State</label>-->
          <div class="form-group" show-errors>
            <input type="text" id="state" name="emergency_state" class="form-control" ng-model="vm.credentials.application.emergency.address.state" placeholder="State" required>
            <div ng-messages="vm.studentForm.emergency_state.$error" role="alert">
              <p class="help-block error-text" ng-message="required">State is required.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--  <label for="state">Zipcode</label>-->
    <div class="col-xs-6 col-xs-offset-6">
      <div class="form-group" show-errors>
        <input type="text" id="zipcode" name="emergency_zipcode" class="form-control" ng-model="vm.credentials.application.emergency.address.zipcode" placeholder="Zipcode" required>
        <div ng-messages="vm.studentForm.emergency_zipcode.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Zipcode is required.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- END CARD -->

</div>
<div id="school" class="item">
  <h3 style="font-family: 'Lato', sans-serif; font-wight: bold;">School<span style="color:red;">*</span></h3>
  <br>
  <div class="col-xs-6 col-xs-offset-3">
    <div class="form-group" show-errors>
      <select name = "school" class="form-control" ng-model="vm.credentials.application.school" required>
        <option value="">---Please select---</option>
        <option value = "Anderson Boyd HS"> Anderson Boyd High School</option>
        <option value = "American Heritage HS"> American Heritage High School</option>
        <option value = "Atlantic Community HS"> Atlantic Community High School</option>
        <option value = "Atlantic Technical HS"> Atlantic Technical High School</option>
        <option value = "Balnche Ely HS"> Balnche Ely High</option>
        <option value = "Boca Raton Community HS"> Boca Raton Community High School</option>
        <option value = "Boynton Beach Community HS"> Boynton Beach Community High School</option>
        <option value = "Cococnut Creek HS"> Coconut Creek High School</option>
        <option value = "College Academy - Cent Campus"> College Academy - Cent Campus</option>
        <option value = "Cooper City HS"> Cooper City High School</option>
        <option value = "Coral Glades HS"> Coral Glades High School</option>
        <option value = "Coral Springs HS"> Coral Springs High School</option>
        <option value = "Cypress Bay HS"> Cypress Bay High School</option>
        <option value = "Deerfield Beach HS"> Deerfield Beach High School</option>
        <option value = "Dillard 6-12 HS"> Dillard 6-12 High School</option>
        <option value = "Hialeah-Miami Lakes Senior HS"> Hialeah-Miami Lakes Senior High School</option>
        <option value = "High School in Puerto Rico"> High School in Puerto Rico</option>
        <option value = "Forest Hill Community HS"> Forest Hill Community High School</option>
        <option value = "G-Star School Of The Arts"> G-Star School Of The Arts</option>
        <option value = "Glades Central Community HS"> Glades Central Community High School</option>
        <option value = "John I. Leonard Community HS"> John I. Leonard Community High School</option>
        <option value = "Jupiter Community HS"> Jupiter Community High School</option>
        <option value = "Lake Worth Community HS"> Lake Worth Community High School</option>
        <option value = "Melbourne HS"> Melbourne High School</option>
        <option value = "Miami Central HS"> Miami Central High School</option>
        <option value = "Monarch HS"> Monarch High School</option>
        <option value = "North Broward Preparatory School"> North Broward Preparatory School</option>
        <option value = "Olympic Heights Community HS"> Olympic Heights Community High School</option>
        <option value = "Pahokee HS"> Pahokee High School</option>
        <option value = "Everglades HS"> Everglades High School</option>
        <option value = "Palatka HS"> Palatka High School</option>
        <option value = "Palm Beach Central HS"> Palm Beach Central High School</option>
        <option value = "Palm Beach Gardens Community HS"> Palm Beach Gardens Community High School</option>
        <option value = "Palm Beach Lakes Community HS"> Palm Beach Lakes Community High School</option>
        <option value = "Park Vista Community HS"> Park Vista Community High School</option>
        <option value = "Plantation HS"> Plantation High School</option>
        <option value = "Pompano Beach HS"> Pompano Beach High School</option>
        <option value = "Puerto Rico Dept Of Education"> Puerto Rico Dept Of Education</option>
        <option value = "Ransom Everglades HS"> Ransom Everglades School</option>
        <option value = "Royal Palm Beach Community HS"> Royal Palm Beach Community High School</option>
        <option value = "Santaluces Community HS"> Santaluces Community High School</option>
        <option value = "Seminole Ridge Community HS"> Seminole Ridge Community High School</option>
        <option value = "Sheridan Technical HS"> Sheridan Technical High School</option>
        <option value = "South Broward HS"> South Broward High School</option>
        <option value = "South Plantation HS"> South Plantation High School</option>
        <option value = "Spanish River Community HS"> Spanish River Community High School</option>
        <option value = "Suncoast Community HS"> Suncoast Community High School</option>
        <option value = "Stoneman Douglas HS"> Stoneman Douglas High School</option>
        <option value = "Stranahan HS"> Stranahan High School</option>
        <option value = "St Thomas Aquinas"> St Thomas Aquinas</option>
        <option value = "Taravella J.P. High"> Taravella J. P. High School</option>
        <option value = "Terra Environmental Research Institute"> Terra Environmental Research Institute</option>
        <option value = "Wellington Community HS"> Wellington Community High School</option>
        <option value = "West Boca Raton Community HS"> West Boca Raton Community High School</option>
        <option value = "West Broward HS"> West Broward High School</option>
        <option value = "West HS"> West High School</option>
        <option value = "Western HS"> Western High School</option>
        <option value = "Westminster Academy"> Westminster Academy</option>
        <option value = "William T. Dwyer HS"> William T. Dwyer High School</option>
        <option value = "Not listed"> Not listed </option>
      </select>
      <div ng-messages="vm.studentForm.school.$error" role="alert">
        <p class="help-block error-text" ng-message="required">School is required.</p>
      </div>
      <br>
      <h7> * If your school is not listed, please</h7>
      <br>
      <h7> contact 954-907-5808 </h7>
    </div>
  </div>
</div>
<div "interests" class="item">
  <h3 style="font-family: 'Lato', sans-serif; font-wight: bold;">Mentorship Area of Interest<span style="color:red;">*</span></h3>
  <br>
  <div class="col-xs-6 col-xs-offset-3">
    <div class="form-group" show-errors>
      <select name="student_interests_1" class="form-control" ng-model="vm.credentials.application.interests[0]" required>
        <option value = "Electrical Engineering / Design">Electrical Engineering / Design</option>
        <option value = "Mechanical Engineering / Design">Mechanical Engineering / Design</option>
        <option value = "Software Engineering Development">Software Engineering Development</option>
        <option value = "Industrial / User Interface / Research Design">Industrial / User Interface / Research Design</option>
        <option value = "Program Management">Program Management</option>
        <option value = "Marketing">Marketing</option>
        <option value = "Business">Business</option>
        <option value = "Product Life Cycle Management">Product Life Cycle Management</option>
      </select>
      <center>
        <h7 style = "color:gray;">1st Interest</h7>
      </center>
      <div ng-messages="vm.studentForm.student_interests_1.$error" role="alert">
        <p class="help-block error-text" ng-message="required">First choice is required.</p>
      </div>
    </div>
    <br>
    <div class="form-group" show-errors>
      <select name="student_interests_2" class="form-control" ng-model="vm.credentials.application.interests[1]" required>
        <option value = "Electrical Engineering / Design">Electrical Engineering / Design</option>
        <option value = "Mechanical Engineering / Design">Mechanical Engineering / Design</option>
        <option value = "Software Engineering Development">Software Engineering Development</option>
        <option value = "Industrial / User Interface / Research Design">Industrial / User Interface / Research Design</option>
        <option value = "Program Management">Program Management</option>
        <option value = "Marketing">Marketing</option>
        <option value = "Business">Business</option>
        <option value = "Product Life Cycle Management">Product Life Cycle Management</option>
      </select>
      <center>
        <h7 style = "color:gray;">2nd Interest</h7>
      </center>
      <div ng-messages="vm.studentForm.student_interests_2.$error" role="alert">
        <p class="help-block error-text" ng-message="required">Second choice is required.</p>
      </div>
    </div>
    <br>
    <div class="form-group" show-errors>
      <select name="student_interests_3" class="form-control" ng-model="vm.credentials.application.interests[2]" required>
        <option value = "Electrical Engineering / Design">Electrical Engineering / Design</option>
        <option value = "Mechanical Engineering / Design">Mechanical Engineering / Design</option>
        <option value = "Software Engineering Development">Software Engineering Development</option>
        <option value = "Industrial / User Interface / Research Design">Industrial / User Interface / Research Design</option>
        <option value = "Program Management">Program Management</option>
        <option value = "Marketing">Marketing</option>
        <option value = "Business">Business</option>
        <option value = "Product Life Cycle Management">Product Life Cycle Management</option>
      </select>
      <center>
        <h7 style = "color:gray;">3rd Interest</h7>
      </center>
      <div ng-messages="vm.studentForm.student_interests_3.$error" role="alert">
        <p class="help-block error-text" ng-message="required">Third choice is required.</p>
      </div>
    </div>
  </div>
</div>

<!-- SESSION PREFERENCE -->

<div id="sessionDate" class="item">
  <h3 style="font-family: 'Lato', sans-serif; font-wight: bold;">Session Date Preferences<span style="color:red;">*</span></h3>
  <br>
  <div class="col-xs-6 col-xs-offset-3">
    <div class="form-group" show-errors>
      <select class="form-control" ng-model="vm.credentials.application.preferredSession1" name="app_session1" required>
        <option value = "1"> Session1 (6/25/18 - 6/29/18)</option>
        <option value = "2"> Session2 (7/23/18 - 7/27/18)</option>
        <option value = "3"> Session3 (8/6/18 - 8/10/18)</option>
        <option value = "N/A">Not Available</option>
      </select>
      <center>
        <h7 style = "color:gray;">1st Choice</h7>
      </center>
      <div ng-messages="vm.studentForm.app_session1.$error" role="alert">
        <p class="help-block error-text" ng-message="required">First choice is required.</p>
      </div>
    </div>
    <br>
    <div class="form-group" show-errors>
      <select class="form-control" ng-model="vm.credentials.application.preferredSession2" name="app_session2"required>
        <option value = "1"> Session1 (6/25/18 - 6/29/18)</option>
        <option value = "2"> Session2 (7/23/18 - 7/27/18)</option>
        <option value = "3"> Session3 (8/6/18 - 8/10/18)</option>
        <option value = "N/A">Not Available</option>
      </select>
      <center>
        <h7 style = "color:gray;">2nd Choice</h7>
      </center>
      <div ng-messages="vm.studentForm.app_session2.$error" role="alert">
        <p class="help-block error-text" ng-message="required">Second choice is required.</p>
      </div>
    </div>
    <br>
    <div class="form-group" show-errors>
      <select class="form-control" ng-model="vm.credentials.application.preferredSession3" name="app_session3" required>
        <option value = "1"> Session1 (6/25/18 - 6/29/18)</option>
        <option value = "2"> Session2 (7/23/18 - 7/27/18)</option>
        <option value = "3"> Session3 (8/6/18 - 8/10/18)</option>
        <option value = "N/A">Not Available</option>
      </select>
      <center>
        <h7 style = "color:gray;">3rd Choice</h7>
      </center>
      <div ng-messages="vm.studentForm.app_session3.$error" role="alert">
        <p class="help-block error-text" ng-message="required">Third choice is required.</p>
      </div>
    </div>
  </div>
</div>

<!-- 2nd Section -->

<div id="classes" class="item">
<h3 style="font-family: 'Lato', sans-serif; font-wight: bold;">Classes</h3>
<p>
  <center>
    <font size="2"color="grey">Enter 1-2 relevant classes that relate to your Mentorship Area of Interests.</font>
  </center>
</p>
<br>
<div class="container" ng-repeat="class in vm.credentials.application.classes">
<div class="container">
<div class="col-xs-6 col-md-4">
<h6 class="w3-text-black"><b>Class Title:</b></h6>
<element ng-switch="class.editMode">
  <element ng-switch-when="false">
    <p class="w3-text-black">{{class.title}}</p>
  </element>
  <element ng-switch-when="true">
    <form>
      <input type="text" class="form-control" ng-model='vm.credentials.application.classes[$index].title'>
      <br>
    </form>
  </element>
</element>
</div>
<div class="col-xs-6 col-md-4">
  <h6 class="w3-text-black"><b>Letter Grade:</b></h6>
  <element ng-switch="class.editMode">
    <element ng-switch-when="false">
      <p class="w3-text-black">{{class.grade}}</p>
    </element>
    <element ng-switch-when="true">
      <form>
        <input type="text" class="form-control" ng-model='vm.credentials.application.classes[$index].grade'>
        <br>
      </form>
    </element>
  </element>
</div>
<div class="col-xs-6 col-md-4">
  <h6 class="w3-text-black"><b>Description:</b></h6>
  <element ng-switch="class.editMode">
    <element ng-switch-when="false">
      <p class="w3-text-black">{{class.description}}</p>
    </element>
    <element ng-switch-when="true">
      <form>
        <textarea class="form-control" rows="6" cols="70" type="text" ng-model='vm.credentials.application.classes[$index].description' style="width:35vw"></textarea>
      </form>
    </element>
  </element>
</div>
</div>
<element ng-switch="class.editMode">
  <element ng-switch-when="false">
    <button type="button" value='this' class="sign-button sign-in-button-danger" ng-click='vm.removeClass($index)'>Remove</button>
    <button type="button" class="sign-button sign-in-button-warning"  ng-click="class.editMode = true;">Edit</button>
    <br />
    <br />
    <div class="section-divider" />
    <br />
  </element>
  <element ng-switch-when="true">
    <button type="button" value='this' class="sign-button sign-in-button" ng-click="vm.editClass(class, $index)">Save</button>
    <br />
    <br />
  </element>
</element>
</div>
<div class="container">
  <div class="col-xs-6 col-md-4">
    <!--  <h6 class="w3-text-black"><b>Class Title:</b></h6> -->
    <form>
      <input type="text" class="form-control" ng-model='vm.classTitle' placeholder="Class Title">
      <br>
    </form>
  </div>
  <div class="col-xs-6 col-md-4">
    <!--  <h6 class="w3-text-black"><b>Letter Grade:</b></h6> -->
    <form>
      <input type="text" class="form-control" ng-model='vm.classGrade' placeholder="Class Grade">
      <br>
    </form>
  </div>
  <div class="col-xs-6 col-md-4">
    <!--  <h6 class="w3-text-black"><b>Description:</b></h6> -->
    <form>
      <textarea rows="6" cols="70" type="text" ng-model='vm.classDescription' class="form-control" placeholder="Description"></textarea>
    </form>
  </div>
  <button type="button" class="sign-button sign-in-button" ng-click="vm.addClasses()">Save</button>
</div>

<!-- END CARD -->
</div>
<div id="clubs" class="item">
  <h3 style="font-family: 'Lato', sans-serif; font-wight: bold;">Clubs</h3>
  <p>
    <center>
      <font size="2"color="grey">Enter 1-2 relevant clubs that relate to your Mentorship Area of Interests.</font>
    </center>
  </p>
  <br>
  <div class="container" ng-repeat="club in vm.credentials.application.clubs">
    <div class="container">
      <div class="col-xs-6 col-md-4">
        <h6 class="w3-text-black"><b>Club Name:</b></h6>
        <element ng-switch="club.editMode">
          <element ng-switch-when="false">
            <p class="w3-text-black">{{club.name}}</p>
          </element>
          <element ng-switch-when="true">
            <form>
              <input type="text" class="form-control" ng-model='vm.credentials.application.clubs[$index].name'>
              <br>
            </form>
          </element>
        </element>
      </div>
      <div class="col-xs-6 col-md-4">
        <h6 class="w3-text-black"><b>Position:</b></h6>
        <element ng-switch="club.editMode">
          <element ng-switch-when="false">
            <p class="w3-text-black">{{club.position}}</p>
          </element>
          <element ng-switch-when="true">
            <form>
              <input type="text" class="form-control" ng-model='vm.credentials.application.clubs[$index].position'>
              <br>
            </form>
          </element>
        </element>
      </div>
      <div class="col-xs-6 col-md-4">
        <h6 class="w3-text-black"><b>Description:</b></h6>
        <element ng-switch="club.editMode">
          <element ng-switch-when="false">
            <p class="w3-text-black">{{club.description}}</p>
          </element>
          <element ng-switch-when="true">
            <form>
              <textarea rows="6" class="form-control" cols="70" type="text" ng-model='vm.credentials.application.clubs[$index].description'></textarea>
            </form>
          </element>
        </element>
      </div>
    </div>
    <element ng-switch="club.editMode">
      <element ng-switch-when="false">
        <button type="button" value='this' class="sign-button sign-in-button-danger" ng-click='vm.removeClub($index)'>Remove</button>
        <button type="button" class="sign-button sign-in-button-warning"  ng-click="club.editMode = true;">Edit</button>
        <br />
        <br />
        <div class="section-divider" />
        <br />
      </element>
      <element ng-switch-when="true">
        <button type="button" value='this' class="sign-button sign-in-button" ng-click="vm.editClub(club, $index)">Save</button>
        <br />
        <br />
      </element>
    </element>
  </div>
  <div class="container" style="padding-bottom:40px;">
    <div class="col-xs-6 col-md-4">
      <form>
        <input type="text" ng-model='vm.clubName' class="form-control" placeholder='Club Name'>
        <br>
      </form>
    </div>
    <div class="col-xs-6 col-md-4">
      <form>
        <input type="text" ng-model='vm.clubPosition' class="form-control" placeholder='Position'>
        <br>
      </form>
    </div>
    <div class="col-xs-6 col-md-4">
      <form>
        <textarea rows="6" cols="70" type="text" ng-model='vm.clubDescription' class="form-control" placeholder='Description'></textarea>
      </form>
    </div>
    <button type="button" class="sign-button sign-in-button" ng-click="vm.addClubs()">Save</button>
  </div>
</div>
<div id="projects" class="item">
  <h3 style="font-family: 'Lato', sans-serif; font-wight: bold;">Projects</h3>
  <p>
    <center>
      <font size="2"color="grey">Enter 1-2 relevant projects that relate to your Mentorship Area of Interests.</font>
    </center>
  </p>
  <div class="container" ng-repeat="project in vm.credentials.application.projects">
    <div class="container">
      <div class="col-xs-6 col-md-4">
        <h6 class="w3-text-black"><b>Project Name:</b></h6>
        <element ng-switch="project.editMode">
          <element ng-switch-when="false">
            <p class="w3-text-black">{{project.title}}</p>
          </element>
          <element ng-switch-when="true">
            <form>
              <input type="text" class="form-control" ng-model='vm.credentials.application.projects[$index].title'>
              <br>
            </form>
          </element>
        </element>
      </div>
      <div class="col-xs-6 col-md-4">
        <h6 class="w3-text-black"><b>Link:</b></h6>
        <element ng-switch="project.editMode">
          <element ng-switch-when="false">
            <p class="w3-text-black">{{project.link}}</p>
          </element>
          <element ng-switch-when="true">
            <form>
              <input type="text" class="form-control" ng-model='vm.credentials.application.projects[$index].link'>
              <br>
            </form>
          </element>
        </element>
      </div>
      <div class="col-xs-6 col-md-4">
        <h6 class="w3-text-black"><b>Description:</b></h6>
        <element ng-switch="project.editMode">
          <element ng-switch-when="false">
            <p class="w3-text-black">{{project.description}}</p>
          </element>
          <element ng-switch-when="true">
            <form>
              <textarea rows="6" cols="70" type="text" class="form-control" ng-model='vm.credentials.application.projects[$index].description'></textarea>
            </form>
          </element>
        </element>
      </div>
    </div>
    <element ng-switch="project.editMode">
      <element ng-switch-when="false">
        <button type="button" value='this' class="sign-button sign-in-button-danger" ng-click='vm.removeProject($index)'>Remove</button>
        <button type="button" id="{{proj.id+'editButton'}}" class="sign-button sign-in-button-warning"  ng-click="project.editMode = true;">Edit</button>
        <br />
        <br />
        <div class="section-divider" />
        <br />
      </element>
      <element ng-switch-when="true">
        <button type="button" value='this' class="sign-button sign-in-button" ng-click="vm.editProject(project, $index)">Save</button>
        <br />
        <br />
      </element>
    </element>
    </element>
  </div>
  <div class="col-xs-6 col-md-4">
    <!-- <h6 class="w3-text-black"><b>Project Name:</b></h6> -->
    <form>
      <input type="text" class="form-control" ng-model='vm.projectTitle' placeholder="Project Name">
      <br>
    </form>
  </div>
  <div class="col-xs-6 col-md-4">
    <!-- <h6 class="w3-text-black"><b>Link:</b></h6> -->
    <form>
      <input type="text" class="form-control" ng-model='vm.projectLink' placeholder="Link to Project">
      <br>
    </form>
  </div>
  <div class="col-xs-6 col-md-4">
    <!-- <h6 class="w3-text-black"><b>Description:</b></h6> -->
    <form>
      <textarea rows="6" cols="70" type="text" class="form-control" ng-model='vm.projectDescription' placeholder="Description"></textarea>
    </form>
  </div>
  <button type="button" class="sign-button sign-in-button" ng-click="vm.addProjects()">Save</button>
</div>
<div id="volunteer" class="item">
  <h3 style="font-family: 'Lato', sans-serif; font-wight: bold;">Volunteer Experiences</h3>
  <p>
    <center>
      <font size="2"color="grey">Please enter any volunteer experiences that you have participated in.</font>
    </center>
  </p>
  <div class="container" ng-repeat="volWork in vm.credentials.application.volunteerExperiences">
    <div class="container">
      <div class="col-xs-6 col-md-4">
        <h6 class="w3-text-black"><b>Organization:</b></h6>
        <element ng-switch='volWork.editMode'>
          <element ng-switch-when="false">
            <p class="w3-text-black">{{volWork.organizationName}}</p>
          </element>
          <element ng-switch-when="true">
            <form>
              <input type="text" class="form-control" ng-model='vm.credentials.application.volunteerExperiences[$index].organizationName'>
              <br>
            </form>
          </element>
        </element>
      </div>
      <div class="col-xs-6 col-md-4">
        <h6 class="w3-text-black"><b>Experience Title:</b></h6>
        <element ng-switch='volWork.editMode'>
          <element ng-switch-when="false">
            <p class="w3-text-black">{{volWork.position}}</p>
          </element>
          <element ng-switch-when="true">
            <form>
              <input type="text" class="form-control" ng-model='vm.credentials.application.volunteerExperiences[$index].position'>
              <br>
            </form>
          </element>
        </element>
      </div>
      <div class="col-xs-6 col-md-4">
        <h6 class="w3-text-black"><b>Description:</b></h6>
        <element ng-switch='volWork.editMode'>
          <element ng-switch-when="false">
            <p class="w3-text-black">{{volWork.description}}</p>
          </element>
          <element ng-switch-when="true">
            <form>
              <textarea rows="6" cols="70" type="text" class="form-control" ng-model='vm.credentials.application.volunteerExperiences[$index].description' ></textarea>
              <br>
            </form>
          </element>
        </element>
      </div>
    </div>
    <div class="container">
      <element ng-switch='volWork.editMode'>
        <element ng-switch-when="false">
          <p class="w3-text-black"><i class="fa fa-calendar fa-fw w3-margin-right"></i>{{volWork.startDate | date: "mediumDate" }} - <span class="w3-tag w3-grey w3-round">{{volWork.endDate | date: "mediumDate"}}</span></p>
        </element>
        <element ng-switch-when="true">
          <h6 class="w3-text-black"><i class="fa fa-calendar fa-fw w3-margin-right"></i><b>Start Date:</b></h6>
          <form>
            <input type="date" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" ng-model='vm.credentials.application.volunteerExperiences[$index].startDate' placeholder='mm/dd/yyyy'>
            </input>
            <br>
          </form>
          <!--  <h6 class="w3-text-black"><b> Do you still work here?<b></h6> <form><input type="radio"-->
          <h6 class="w3-text-black"><i class="fa fa-calendar fa-fw w3-margin-right"></i><b>End Date:</b></h6>
          <form>
            <input type="date" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" ng-model='vm.credentials.application.volunteerExperiences[$index].endDate'>
            </input>
            <br>
          </form>
        </element>
      </element>
    </div>
    <br>
    <element ng-switch='volWork.editMode'>
    <element ng-switch-when="false">
      <button type="button" value='this' class="sign-button sign-in-button-danger" ng-click='vm.removeVolunteerExperience($index)'>Remove</button>
      <button type="button" id="{{volWork.id+'v_editButton'}}" class="sign-button sign-in-button-warning"  ng-click="volWork.editMode = true;">Edit</button>
      <br />
      <br />
      <div class="section-divider" />
      <br />
    </element>
    <element ng-switch-when="true">
      <button type="button" value='this' class="sign-button sign-in-button" ng-click="vm.editVolunteerExperience(volWork, $index)">Save</button>
      <br />
      <br />
    </element>
  </div>
  <div class="col-xs-6 col-md-4">
    <!-- <h6 class="w3-text-black"><b>Organization:</b></h6> -->
    <form>
      <input type="text" class="form-control" ng-model='vm.VolunteerOrganizationName' placeholder="Organization Name">
      <br>
    </form>
  </div>
  <div class="col-xs-6 col-md-4">
    <!-- <h6 class="w3-text-black"><b>Experience Title:</b></h6> -->
    <form>
      <input type="text" class="form-control" ng-model='vm.VolunteerPosition' placeholder="Role / Title">
      <br>
    </form>
  </div>
  <div class="col-xs-6 col-md-4">
    <!-- <h6 class="w3-text-black"><b>Description:</b></h6> -->
    <form>
      <textarea rows="6" cols="70" type="text" ng-model='vm.VolunteerDescription' class="form-control" placeholder="Description"></textarea>
      <br>
    </form>
  </div>
  <h6 class="w3-text-black"><i class="fa fa-calendar fa-fw w3-margin-right"></i><b>Start Date:</b></h6>
  <form>
    <input type="date" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" class="form-control" ng-model='vm.VolunteerStartDate'>
    </input>
    <br>
  </form>
  <!--  <h6 class="w3-text-black"><b> Do you still work here?<b></h6> <form><input type="radio"-->
  <h6 class="w3-text-black"><i class="fa fa-calendar fa-fw w3-margin-right"></i><b>End Date:</b></h6>
  <form>
    <input type="date" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" class="form-control" ng-model='vm.VolunteerEndDate'>
    </input>
    <br>
  </form>
  <button type="button" class="sign-button sign-in-button" ng-click="vm.addVolunteerExperiences()">Save</button>
</div>
<div id="work" class="item">
  <h3 style="font-family: 'Lato', sans-serif; font-wight: bold;">Work Experiences</h3>
  <p>
    <center>
      <font size="2"color="grey">Please enter any work experiences that you have had.</font>
    </center>
  </p>
  <br>
  <div class="container" ng-repeat="work in vm.credentials.application.professionalExperiences">
    <div class="container">
      <div class="col-xs-6 col-md-4">
        <h6 class="w3-text-black"><b>Company:</b></h6>
        <element ng-switch="work.editMode">
          <element ng-switch-when="true">
            <form>
              <input type="text" class="form-control" ng-model='vm.credentials.application.professionalExperiences[$index].companyName' ng-change="updateValue(edit_pro_companyName)">
              <br>
            </form>
          </element>
          <element ng-switch-when="false"
          <p class="w3-text-black">{{work.companyName}}</p>
        </element>
        </element>
      </div>
      <div class="col-xs-6 col-md-4">
        <h6 class="w3-text-black"><b>Job Title:</b></h6>
        <element ng-switch="work.editMode">
          <element ng-switch-when="true">
            <form>
              <input type="text" class="form-control" ng-model='vm.credentials.application.professionalExperiences[$index].position'>
              <br>
            </form>
          </element>
          <element ng-switch-when="false">
            <p class="w3-text-black">{{work.position}}</p>
          </element>
        </element>
      </div>
      <div class="col-xs-6 col-md-4">
        <h6 class="w3-text-black"><b>Description:</b></h6>
        <element ng-switch="work.editMode">
          <element ng-switch-when="true">
            <form>
              <textarea rows="6" cols="70" type="text" class="form-control" ng-model='vm.credentials.application.professionalExperiences[$index].description'></textarea>
              <br>
            </form>
          </element>
          <element ng-switch-when="false">
            <p class="w3-text-black">{{work.description}}</p>
          </element>
        </element>
      </div>
    </div>
    <div class="container">
      <element ng-switch="work.editMode">
        <element ng-switch-when="false">
          <p class="w3-text-black"><i class="fa fa-calendar fa-fw w3-margin-right"></i>{{work.startDate | date: "mediumDate" }} - <span class="w3-tag w3-grey w3-round">{{work.endDate | date: "mediumDate"}}</span></p>
        </element>
        <element ng-switch-when="true">
          <h6 class="w3-text-black"><i class="fa fa-calendar fa-fw w3-margin-right"></i><b>Start Date:</b></h6>
          <form>
            <input type="date" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" class="form-control" ng-model='vm.credentials.application.professionalExperiences[$index].startDate'>
            </input>
            <br>
          </form>
          <h6 class="w3-text-black"><i class="fa fa-calendar fa-fw w3-margin-right"></i><b>End Date:</b></h6>
          <form>
            <input type="date" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" class="form-control" ng-model='vm.credentials.application.professionalExperiences[$index].endDate'>
            </input>
            <br>
          </form>
        </element>
      </element>
    </div>
    <element ng-switch="work.editMode">
      <element ng-switch-when="false">
        <button type="button" value='this' class="sign-button sign-in-button-danger" ng-click='vm.removeProfessionalExperience($index)'>Remove</button>
        <button type="button" class="sign-button sign-in-button-warning" ng-click="work.editMode = true;">Edit</button>
        <br />
        <br />
        <div class="section-divider" />
        <br />
      </element>
      <element ng-switch-when="true">
        <button type="button" value='this' class="sign-button sign-in-button" ng-click="vm.editProfessionalExperience(work, $index)">Save</button>
        <br />
        <br />
      </element>
    </element>
  </div>
  <div class="container" style="padding-bottom:40px;">
    <div class="col-xs-6 col-md-4">
      <!--<h6 class="w3-text-black"><b>Company:</b></h6>-->
      <form>
        <input type="text" class="form-control" ng-model='vm.WorkCompanyName' placeholder="Company Name">
        <br>
      </form>
    </div>
    <div class="col-xs-6 col-md-4">
      <!--<h6 class="w3-text-black"><b>Job Title:</b></h6>-->
      <form>
        <input type="text" class="form-control" ng-model='vm.WorkPosition' placeholder="Job Title">
        <br>
      </form>
    </div>
    <div class="col-xs-6 col-md-4">
      <!--<h6 class="w3-text-black" ><b>Description:</b></h6>-->
      <form>
        <textarea rows="6" cols="70" type="text" class="form-control" ng-model='vm.WorkDescription' placeholder="Job Description"></textarea>
        <br>
      </form>
    </div>
    <h6 class="w3-text-black"><i class="fa fa-calendar fa-fw w3-margin-right"></i><b>Start Date:</b></h6>
    <form>
      <input type="date" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" class="form-control" ng-model='vm.WorkStartDate'>
      </input>
      <br>
    </form>
    <h6 class="w3-text-black"><i class="fa fa-calendar fa-fw w3-margin-right"></i><b>End Date:</b></h6>
    <form>
      <input type="date" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" class="form-control" ng-model='vm.WorkEndDate'>
      </input>
      <br>
    </form>
    <button type="button" class="sign-button sign-in-button" ng-click="vm.addProfessionalExperiences()">Save</button>
  </div>
</div>
</div>
</div>
<hr />
<br />
<br />
<ol class="carousel-indicators">
  <li style="background-color: grey;" data-target="#myCarousel" data-slide-to="0" class="active"></li>
  <li style="background-color: grey;" data-target="#myCarousel" data-slide-to="1"></li>
  <li style="background-color: grey;" data-target="#myCarousel" data-slide-to="2"></li>
  <li style="background-color: grey;" data-target="#myCarousel" data-slide-to="3"></li>
  <li style="background-color: grey;" data-target="#myCarousel" data-slide-to="4"></li>
  <li style="background-color: grey;" data-target="#myCarousel" data-slide-to="5"></li>
  <li style="background-color: grey;" data-target="#myCarousel" data-slide-to="6"></li>
  <li style="background-color: grey;" data-target="#myCarousel" data-slide-to="7"></li>
  <li style="background-color: grey;" data-target="#myCarousel" data-slide-to="8"></li>
  <li style="background-color: grey;" data-target="#myCarousel" data-slide-to="9"></li>
</ol>
</div>
<a class="left carousel-control" href="#myCarousel" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> <span class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#myCarousel" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> <span class="sr-only">Next</span> </a>
</div>
<div class="jumbotron jumbotron-fluid text-center" style="background-color: white; height: 100%; margin-left:50px; margin-right:50px;">
  <div class="container">
    <element ng-switch="vm.submitIsUpdate">
      <element ng-switch-when="true">
        <button type="submit" class="sign-button sign-in-button" ng-click="vm.updateStudent(vm.studentForm.$valid)">Update Application</button>
      </element>
      <element ng-switch-when="false">
        <div class="tooltip">
          <span class="tooltiptext" ng-show="vm.tutorial.submitApplication" ng-click="vm.tutorialPlay()"><strong>Click here when you're ready to submit your application.</strong><br><br> Click on this tooltip to continue.</span>
          <button type="submit" ng-disabled="vm.tutorial.toggle" class="sign-button sign-in-button" ng-click="vm.updateStudent(vm.studentForm.$valid)" >Submit Application</button>
        </div>
        <div id="vm.tutorial.saveApplication" class="tooltip">
          <span class="tooltiptext" ng-show="vm.tutorial.saveApplication" ng-click="vm.tutorialPlay()"><strong>If you need to finish your application later, click here to save your information.</strong><br><br> Click on this tooltip to continue.</span>
          <button type="submit" ng-disabled="vm.tutorial.toggle" class="sign-button sign-in-button" ng-click="vm.saveApp()">Save Application</button>
        </div>
      </element>
    </element>
  </div>
</div>
</form>
<!--END CAROUSEL HERE-->
</div>
</body>
</html>
