
<title>Student Dashboard</title>
<meta charset="UTF-8">

<body>
<div id="overlay" ng-show="vm.loading">
  <div class="loader"></div>
</div>
<div id="tutorial-overlay" ng-show="vm.tutorial.toggle" > </div>
<nav role="navigation" class="navbar navbar-custom navbar-static-top">
  <div class="container-fluid" ng-switch="vm.submitIsUpdate">
    <h5 class="navbar-text">Welcome {{vm.authentication.user.displayName}} </h5>
     <h5 style="float:right;" class="navbar-text">Applications Due April 22nd 2019</h5>
  </div>
</nav>
<!-- below header -->
<div class="jumbotron row" style="min-height:100%;">
  <div class="col-lg-3 " style=""> 
    <!-- profile picturee -->
    <div ng-controller = "ChangeProfilePictureController as vm" class="">
      <div style = "margin:1em; margin-left:1em;" class="form-group "> <img style="line-height: 50px; text-align: center;" ngf-src="vm.user.profileImageURL" alt="Click here to set profile picture!" class="img-thumbnail user-profile-picture" ui-sref="settings.picture" ngf-drop > </div>
    </div>
  </div>
  <!--- TO DOS -->
  <div ng-if="!(vm.appsClosed)"  class="col-lg-4">
    <div  ng-switch="vm.submitIsUpdate"> 
      
      <!--  blue block -->
      <div ng-switch-when = "true">
        <div class="panel panel-blue">
          <div class="panel-heading">
            <div class="row">
              <div class="text-center">
                <h3 class="huge">Application</h3>
                <hr style="border-color:darkblue;">
              </div>
            </div>
          </div>
          <div ui-sref="student.application" align="center" class=""> <img class="opaque green-hover" src="/modules/core/client/img/app.png" style= "display: block; margin:auto; max-width:80%; margin-bottom:1rem; height:11rem;" alt="applicationSubmitted">
            <label ng-click="$state.go('student.application');" style="letter-spacing:3px;" > Status: Submitted </label>
          </div>
        </div>
      </div>
      <div ng-switch-default> 
        <!-- white block -->
        <div class="">
          <div class="panel-heading">
            <div class="row">
              <div class="text-center">
                <center>
                  <h3 class="huge">Application</h3>
                  <hr style="border-color:darkblue;">
                </center>
              </div>
            </div>
          </div>
          <div ui-sref="student.application" align="center"class=""> <img  class="opaque green-hover" src="/modules/core/client/img/app2.png" style= "display: block; margin:auto; max-width:80%; margin-bottom:1rem; height:11rem;" alt="applicationIncomplete">
            <label style="letter-spacing:3px;" > Status: Incomplete </label>
          </div>
        </div>
      </div>
    </div>
    <!--- FORMS TO DO -->
    <div ng-switch = "vm.credentials.areFormsStudentApproved == true && vm.credentials.areFormsAdminApproved == true">
      <div ng-switch-when="true"> 
        <!-- blue block -->
        <div class="panel panel-blue">
          <div class="panel-heading">
            <div class="row">
              <div class="text-center">
                <center>
                  <h3 class="huge">Forms</h3>
                  <hr style="border-color:darkblue;">
                </center>
              </div>
            </div>
          </div>
          <div align="center" class="panel-footer"> <img ui-sref="student.forms" class ="opaque green-hover" src="/modules/core/client/img/form.png" style= "display: block; margin-bottom:1rem; width:80%; height: 14em;" alt="forms">
            <label style="letter-spacing:3px;" > Status: Approved and Submitted </label>
          </div>
        </div>
      </div>
      <div ng-switch-default> 
        <!-- white block -->
        <div class="">
          <div class="panel-heading">
            <div class="row">
              <div class="text-center">
                <h3 class="huge">Forms</h3>
                <hr style="border-color:darkblue;">
              </div>
            </div>
          </div>
          <div ui-sref="student.forms" align="center" class=""> <img class="opaque green-hover" src="/modules/core/client/img/form2.png" style= "display: block; margin-bottom:1rem; max-width:80%; height:14em;" alt="formNotCompleted">
            <label style="margin-bottom: 5rem; letter-spacing:3px;" ng-if="vm.credentials.areFormsStudentApproved == true && vm.credentials.areFormsAdminApproved == false" >Waiting On Admin Approval</label>
            <!-- when students have submitted but NOT verified -->
            <label style="margin-bottom: 5rem; letter-spacing:3px;" ng-if= "vm.credentials.isNDASubmitted == false || vm.credentials.isResumeUploaded == false || vm.credentials.isWaiverUploaded == false || vm.credentials.isLetterofRecommendationUploaded == false" >Please Upload Forms</label>
            <label style="margin-bottom: 5rem; letter-spacing:3px;"  ng-if="vm.credentials.areFormsStudentApproved == false && vm.credentials.isNDAUploaded == true && vm.credentials.isResumeUploaded == true && vm.credentials.isWaiverUploaded == true && vm.credentials.isLetterofRecommendationUploaded == true">Please Verify Your Forms)</label>
          </div>
        </div>
      </div>
      <!-- end of default block --> 
      
    </div>
    <!-- end of forms TO DO --> 
  </div>
  <div class="col-lg-4 col-lg-offset-1 " ng-if="(vm.appsClosed)" >
    <h2><b>Apps are Closed</b></h2>
  </div>
  <div class="col-lg-4 col-lg-offset-1 ">
    <div class="">
      <h2 style="color:#497daa;"><b>Important Dates</b></h2>
    </div>
    <br>
    <b style="color:#497daa;" > May 25th Application Due </b>
    <hr style="border-color:darkblue;">
    <br>
    <b style="color:#497daa;"> Session 1: June 24-28, 2019</b>
    <hr style="border-color:darkblue;">
    <br>
    <b style="color:#497daa;"> Session 2: July 22-26, 2019 </b>
    <hr style="border-color:darkblue;">
    <br>
    <b style="color:#497daa;"> Session 3: August 5-9, 2019 </b>
    <hr style="border-color:darkblue;">
  </div>
</div>
</body>
</html>