<html>
<title>Volunteer Forms</title>
<meta charset="UTF-8">

<head>
  <!-- W3 CSS -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="../css/sb-admin.css" type="text/css" rel="stylesheet">
  <link href="../css/main.css" type="text/css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/modules/core/client/css/core.css">
  <link href="../css/bootstrap.css" type="text/css" rel="stylesheet">
  <link href="../css/bootstrap-rtl.css" type="text/css" rel="stylesheet">
  <link href="../css/sb-admin-rlt.css" type="text/css" rel="stylesheet">
  <link href="../css/bootstrap-rtl.min.css" type="text/css" rel="stylesheet">
  <script src="js/vendor/angular-pdf/dist/angular-pdf.js"></script>
  <!-- Morris Charts CSS -->
  <link href="../css/plugins/morris.css" rel="stylesheet">
  <!-- Custom Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

<body>
  <!--<div class="row">-->
        <!--<div class="col-md-8">-->
          <div class="row card w3-third">
              <h4>1. Download:</h4>

              <div class="row" style="margin:10px;padding:5px;background-color:rgb(231, 229, 229); border-radius:5px; line-height:40px;">
                  <div class="col-sm-7">NDA</div>
                  <div class="col-sm-5" style="text-align:center;"><button type="button" class="btn btn-primary" ng-click="vm.viewForm('NDA.pdf')">Download</button></div>
              </div>
              <div class="row" style="margin:10px;padding:5px;background-color:rgb(231, 229, 229); border-radius:5px; line-height:40px;">
                  <div class="col-sm-7">Waiver</div>
                  <div class="col-sm-5" style="text-align:center;"><button type="button" class="btn btn-primary" ng-click="vm.viewForm('Waiver.pdf')">Download</button></div>
              </div>
          </div>
            <div class="row card w3-third">
                <div class="col-sm-12">
                    <h4>2. Upload:</h4>
                    <div id="fileSelector">
                      <div class="row" style="margin:10px;padding:5px;background-color:rgb(231, 229, 229); border-radius:5px; line-height:40px;">
                          <div class="col-sm-7">NDA</div>
                      <form method="post" enctype="multipart/form-data" ng-submit = "vm.uploadNDA(file);">
                        <label class="btn btn-success">
                          Browse
                          <input type="file" file-model="file.upload" name="myFile" ng-disabled="uploading">
                        </label>
                          <button type="submit" class="btn btn-warning pull-right">Submit</button>
                      </form>
                    </div>
                    <div class="row" style="margin:10px;padding:5px;background-color:rgb(231, 229, 229); border-radius:5px; line-height:40px;">
                        <div class="col-sm-7">Waiver</div>
                        <form method="post" enctype="multipart/form-data" ng-submit = "vm.uploadWaiver(file);">
                        <label class="btn btn-success">
                          Browse
                          <input type="file" file-model="file.upload" name="myFile" ng-disabled="uploading">
                        </label>
                        <br>
                        <br>
                          <button type="submit">Submit</button>
                      </form>
                    </div>
                    <div class="row" style="margin:10px;padding:5px;background-color:rgb(231, 229, 229); border-radius:5px; line-height:40px;">
                      <div class="col-sm-7">Letter of Recommendation</div>
                      <form method="post" enctype="multipart/form-data" ng-submit = "vm.uploadLetterOfRecommendation(file);">
                        <label class="btn btn-success">
                          Browse
                          <input type="file" file-model="file.upload" name="myFile" ng-disabled="uploading">
                        </label>
                        <br>
                        <br>
                          <button type="submit">Submit</button>
                      </form>
                    </div>
                    </div>
                    <div>
                      <div ng-show="uploading">

                    </div>
                </div>
            </div>

        </div>
        <div class="row card w3-third">
            <div class="col-sm-12">
                <h4>3. Verify:</h4>
                <div id="fileSelector">
                  <div class="row" style="margin:10px;padding:5px;background-color:rgb(231, 229, 229); border-radius:5px; line-height:40px;">
                      <div class="col-sm-7">NDA</div>
                      <button class="btn btn-primary btn-success" ng-click="vm.viewForm(vm.credentials.NDAId)">View</button>
                </div>
                <div class="row" style="margin:10px;padding:5px;background-color:rgb(231, 229, 229); border-radius:5px; line-height:40px;">
                    <div class="col-sm-7">Waiver</div>
                    <button class="btn btn-primary btn-success" ng-click="vm.viewForm(vm.credentials.WaiverId)">View</button>
                </div>
                <div class="row" style="margin:10px;padding:5px;background-color:rgb(231, 229, 229); border-radius:5px; line-height:40px;">
                  <div class="col-sm-7">Letter of Recommendation</div>
                  <button class="btn btn-primary btn-success" ng-click="vm.viewForm(vm.credentials.letterOfRecommendationId)">View</button>
                </div>
                </div>
                <div>
                  <div ng-show="uploading">

                </div>
            </div>
        </div>

    </div>
        <div class="col-md-2"></div>
    <!--</div>-->
<!--</div>-->
</body>
</html>
