<html>
<meta charset="UTF-8">

<head>
  <!-- W3 CSS -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Custom Fonts -->

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <style>
  #myCarousel {
    margin-left: 50px;
    margin-right: 50px;
  }

  .item img {
    margin-left: auto;
    margin-right: auto;
  }

  .selected img {
  	opacity:0.5;
  }

  .carousel-caption {
      position: relative;
      left: auto;
      right: auto;
  }

  .carousel-control.left,
  .carousel-control.right {
    border: none;
  }

  .carousel-control.left {
    margin-left: -25px;
  }

  .carousel-control.right {
    margin-right: -25px;
  }

  .carousel-control {
    width: 0%;
  }


  .glyphicon-chevron-left, .glyphicon-chevron-right {
    color: grey;
    font-size: 40px;
  }

  .jumbotron {
    posistion:relative;
    z-index: 2;
    box-shadow: 0 4px 16px -6px grey;
    background-color: white;
  }
  </style>
</head>
<body>
  <div style="background-color:#003d66; font-weight:bold; color:white; padding:25px; margin-top: -50px; margin-bottom: 0; margin-left: calc(50% - 50vw); width:100vw;" class="container">
    <center>
      <h2 style="font-weight:bold;"> <strong>Forms</strong> </h2>
    </center>
  </div>
  <br>
  <br>
  <div id="myCarousel" class="carousel slide" data-interval="false">
    <div class="jumbotron jumbotron-fluid text-center" style="background-color: white; height: 100%;">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li style="background-color: grey;" data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li style="background-color: grey;" data-target="#myCarousel" data-slide-to="1"></li>
    <li style="background-color: grey;" data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="container">
        <h3 style="font-family: 'Lato', sans-serif; font-wight: bold;">1. Download:</h3>
        <br>

        <div class="row" style="margin:10px;padding:5px;background-color:rgb(246, 244, 244); border-radius:5px; line-height:40px;">
            <div class="col-sm-7">NDA</div>
            <div class="col-sm-5" style="text-align:center;"><button type="button" class="sign-button sign-in-button sign-in-button-sm" ng-click="vm.viewForm('NDA.pdf')"><i class="glyphicon glyphicon-circle-arrow-down" style="heiht:100%"></i></button></div>
        </div>
        <div class="row" style="margin:10px;padding:5px;background-color:rgb(246, 244, 244); border-radius:5px; line-height:40px;">
            <div class="col-sm-7">Waiver</div>
            <div class="col-sm-5" style="text-align:center;"><button type="button" class="sign-button sign-in-button sign-in-button-sm" ng-click="vm.viewForm('Waiver.pdf')"><i class="glyphicon glyphicon-circle-arrow-down" style="height:100%"></i></button></div>
        </div>
      </div>
    </div>

    <div class="item">
        <h3 style="font-family: 'Lato', sans-serif; font-wight: bold;">2. Upload:</h3>
        <br>

        <div id="fileSelector">
          <div class="container">
          <div class="col-xs-6">
            <div class="row" style="margin:10px;padding:5px;background-color:rgb(246, 244, 244); border-radius:5px; line-height:40px;">
              <center>
              NDA
            </center>
          <form method="post" enctype="multipart/form-data" ng-submit = "vm.uploadNDA(file);">

            <div class="col-xs-6">
            <label class="sign-button sign-in-button sign-in-button-sm" style="height:100%; width: 100%">
              <center><i class="glyphicon glyphicon-folder-open" style="height:100%"></i></center>
              <input type="file" style="z-index:2; opacity:0; height:0; width:0;"file-model="file.upload" name="myFile" ng-disabled="uploading">
            </label>
          </div>
          <div class="col-xs-6">
            <button class="sign-button sign-in-button-warning sign-in-button-sm" style="width:100%" type="submit"><center><h5 style="font-family: 'Lato', sans-serif; font-wight: bold;"><i class="glyphicon glyphicon-circle-arrow-up" style="height:100%"></i></h5></center></button>
          </div>
          </form>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="row" style="margin:10px;padding:5px;background-color:rgb(246, 244, 244); border-radius:5px; line-height:40px;">
          <center>
            Waiver
          </center>
            <form method="post" enctype="multipart/form-data" ng-submit = "vm.uploadWaiver(file);">

              <div class="col-xs-6">
              <label class="sign-button sign-in-button sign-in-button-sm" style="height: 100%; width: 100%;">
                <i class="glyphicon glyphicon-folder-open" style="height:100%"></i>
                <input type="file" style="z-index:2; opacity:0; height:0; width: 0;"file-model="file.upload" name="myFile" ng-disabled="uploading">
              </label>
            </div>
            <div class="col-xs-6">
              <button class="sign-button sign-in-button-warning sign-in-button-sm" style="height: 100%;width: 100%;"type="submit"><h5 style="font-family: 'Lato', sans-serif; font-wight: bold;"><i class="glyphicon glyphicon-circle-arrow-up" style="height:100%"></i></h5></button>
            </div>
          </form>
        </div>
      </div>
  </div>
  <div class="container">
      <div class="col-xs-6">
        <div class="row" style="margin:10px;padding:5px;background-color:rgb(246, 244, 244); border-radius:5px; line-height:40px;">
          <center>
            Letter of Recommendation
            <br>
            <form method="post" enctype="multipart/form-data" ng-submit = "vm.uploadLetterOfRecommendation(file);">
              <div class="col-xs-6">
              <label class="sign-button sign-in-button sign-in-button-sm" style="width: 100%">
                <center><i class="glyphicon glyphicon-folder-open" style="height:100%"></i></center>
                <input type="file" style="z-index:2; opacity:0; height:0; width:0;"file-model="file.upload" name="myFile" ng-disabled="uploading">
              </label>
            </div>
              <div class="col-xs-6">
              <button class="sign-button sign-in-button-warning sign-in-button-sm" style="width: 100%"type="submit"><h5 style="font-family: 'Lato', sans-serif; font-wight: bold;"><i class="glyphicon glyphicon-circle-arrow-up" style="height:100%"></i></h5></button>
            </div>
            </div>
          </form>
        </center>
        </div>
      <div class="col-xs-6">
        <div class="row" style="margin:10px;padding:5px;background-color:rgb(246, 244, 244); border-radius:5px; line-height:40px;">
        <center>
          Resume
        </center>
        <form method="post" enctype="multipart/form-data" ng-submit = "vm.uploadResume(file);">
          <div class="col-xs-6">
          <label class="sign-button sign-in-button sign-in-button-sm" style="width: 100%">
            <center><i class="glyphicon glyphicon-folder-open" style="height:100%"></i></center>
            <input type="file" style="z-index:2; opacity:0; height: 0; width: 0;"file-model="file.upload" name="myFile" ng-disabled="uploading">
          </label>
        </div>
        <div class="col-xs-6">
          <button class="sign-button sign-in-button-warning sign-in-button-sm" style="width: 100%"type="submit"><h5 style="font-family: 'Lato', sans-serif; font-wight: bold;"><i class="glyphicon glyphicon-circle-arrow-up" style="height:100%"></i></h5></button>
        </div>
      </form>
    </div>
    </div>
  </div>
  </div>
</div>
<div class="item">
  <div class="container">
    <h3 style="font-family: 'Lato', sans-serif; font-wight: bold;">3. Verify:</h3>
    <br>

    <div class="row" style="margin:10px;padding:5px;background-color:rgb(246, 244, 244); border-radius:5px; line-height:40px;">
        <div class="col-xs-12 col-sm-6 col-lg-8">NDA<i class="glyphicon glyphicon-ok" ng-if="vm.credentials.isNDASubmitted === true && vm.credentials.isNDAAdminApproved === false" style="color:orange"></i><i class="glyphicon glyphicon-ok" ng-if="vm.credentials.isNDASubmitted === true && vm.credentials.isNDAAdminApproved === true" style="color:green"></i></div>
        <div class="col-xs-6 col-lg-4" style="text-align:center;"><button type="button" class="sign-button sign-in-button sign-in-button-sm" ng-click="vm.viewForm(vm.credentials.NDAId)"><i class="glyphicon glyphicon-eye-open" style="height:100%"></i></button>
        <button type="button" class="sign-button sign-in-button-verify sign-in-button-verify-sm" ng-click="vm.approveNDA(vm.credentials)"><i class="glyphicon glyphicon-thumbs-up" style="height:100%"></i></button></div>
    </div>
    <div class="row" style="margin:10px;padding:5px;background-color:rgb(246, 244, 244); border-radius:5px; line-height:40px;">
        <div class="col-xs-12 col-sm-6 col-lg-8">Waiver<i class="glyphicon glyphicon-ok" ng-if="vm.credentials.isWaiverSubmitted === true && vm.credentials.isWaiverAdminApproved === false" style="color:orange"></i><i class="glyphicon glyphicon-ok" ng-if="vm.credentials.isWaiverSubmitted === true && vm.credentials.isWaiverAdminApproved === true" style="color:green"></i></div>
        <div class="col-xs-6 col-lg-4" style="text-align:center;"><button type="button" class="sign-button sign-in-button sign-in-button-sm" ng-click="vm.viewForm(vm.credentials.WaiverId)"><i class="glyphicon glyphicon-eye-open" style="height:100%"></i></button>
        <button type="button" class="sign-button sign-in-button-verify sign-in-button-verify-sm" ng-click="vm.approveWaiver(vm.credentials)"><i class="glyphicon glyphicon-thumbs-up" style="height:100%"></i></button></div>
    </div>
    <div class="row" style="margin:10px;padding:5px;background-color:rgb(246, 244, 244); border-radius:5px; line-height:40px;">
        <div class="col-xs-12 col-sm-6 col-lg-8">Letter of Recommendation<i class="glyphicon glyphicon-ok" ng-if="vm.credentials.isLetterofRecommendationSubmitted === true && vm.credentials.isLetterofRecommendationAdminApproved === false" style="color:orange"></i><i class="glyphicon glyphicon-ok" ng-if="vm.credentials.isLetterofRecommendationSubmitted === true && vm.credentials.isLetterofRecommendationAdminApproved === true" style="color:green"></i></div>
        <div class="col-xs-6 col-lg-4" style="text-align:center;"><button type="button" class="sign-button sign-in-button sign-in-button-sm" ng-click="vm.viewForm(vm.credentials.letterOfRecommendationId)"><i class="glyphicon glyphicon-eye-open" style="height:100%"></i></button>
          <button type="button" class="sign-button sign-in-button-verify sign-in-button-verify-sm" ng-click="vm.approveLetterOfRecommendation(vm.credentials)"><i class="glyphicon glyphicon-thumbs-up" style="height:100%"></i></button>
        </div>
    </div>
    <div class="row" style="margin:10px;padding:5px;background-color:rgb(246, 244, 244); border-radius:5px; line-height:40px;">
        <div class="col-xs-12 col-sm-6 col-lg-8">Resume<i class="glyphicon glyphicon-ok" ng-if="vm.credentials.isResumeSubmitted === true && vm.credentials.isResumeAdminApproved === false" style="color:orange"></i><i class="glyphicon glyphicon-ok" ng-if="vm.credentials.isResumeSubmitted === true && vm.credentials.isResumeAdminApproved === true" style="color:green"></i></div>
        <div class="col-xs-6 col-lg-4" style="text-align:center;"><button type="button" class="sign-button sign-in-button sign-in-button-sm" ng-click="vm.viewForm(vm.credentials.ResumeId)"><i class="glyphicon glyphicon-eye-open" style="height:100%"></i></button>
        <button type="button" class="sign-button sign-in-button-verify sign-in-button-verify-sm" ng-click="vm.approveResume(vm.credentials)"><i class="glyphicon glyphicon-thumbs-up" style="height:100%"></i></button></div>

    </div>
  </div>
</div>
<hr>

</div>


  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>

    <!--</div>-->
<!--</div>-->
</body>
</html>
