<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<style>
.jumbotron {
  posistion:relative;
  z-index: 2;
  box-shadow: 0 4px 16px -6px grey;
  background-color: white;
}
</style>
<section class="row">
  <div class="jumbotron jumbotron-fluid text-center">
    <div class="row">
      <!--<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">-->
        <center>
        <img class="img-responsive text-center" src="/modules/core/client/img/idea-sharing-filled.png" style="height: 100px;">
      </center>
      <!--</div>-->
    </div>
    <br>
    <div class="row">
      <h3 style="font-family: 'Lato', sans-serif; font-wight: bold;">CAREERS MENTORING AND SHADOWING PROGRAM</h3>
    </div>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
<div class="col-xs-6 col-xs-offset-3">
    <form name="vm.forgotPasswordForm" ng-submit="vm.askForPasswordReset(vm.forgotPasswordForm.$valid)" class="form-horizontal" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <h4 style="font-family: 'Lato', sans-serif; font-wight: bold;">Restore Your Password</h4>

          <!--<label for="usernameOrEmail" class="text-center">Enter your account username or email.</label>-->
          <input type="text" id="usernameOrEmail" name="usernameOrEmail" class="form-control" ng-model="vm.credentials.usernameOrEmail" placeholder="Enter username or email" lowercase required autofocus>
          <div ng-messages="vm.forgotPasswordForm.usernameOrEmail.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Enter a username or email.</p>
          </div>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="sign-button sign-in-button sign-in-button-sm">Restore</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
</div>
</section>
