<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<section class="row text-center">
  <div class="jumbotron jumbotron-fluid text-center" style="background-color: #e2e6e9">
    <div class="row">
      <!--<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">-->
        <center>
        <img class="img-responsive text-center" src="/modules/core/client/img/idea-sharing-filled.png" style="height: 100px;">
      </center>
      <!--</div>-->
    </div>
    <br>
    <div class="row">
      <h3 style="font-family: 'Lato', sans-serif; font-wight: bold;">CAREERS MENTORING AND SHADOWING PROGRAM</h3>
    </div>
</div>

<div class="jumbotron jumbotron-fluid" style="background-color: #e2e6e9">
  <div class="container">
<div class="col-xs-6 col-xs-offset-3">
  <h3 style="font-family: 'Lato', sans-serif; font-wight: bold;">Password reset link is invalid.</h3>
  <a ui-sref="password.forgot" class="col-md-12">Ask for a new password reset here.</a>
</div>
</div>
</div>
</section>
