<!DOCTYPE html>
<html>
<title>Applicants</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/modules/core/client/css/core.css">
<link rel="stylesheet" type="text/css" href="/modules/core/client/css/bootstrap.css">
<!-- mainly effects font size/shape/color --> <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



<style>
/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
  padding: 20px;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  height: 100%;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100000 !important;
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

</style>

<section>
  <div style="background-color:#003d66; font-weight:bold; color:white; padding:25px; margin-top:-4rem; margin-left: calc(50% - 50vw); width:100vw;" class="container">
    <h1 style="font-weight:bold; margin-left: 2rem;">Applicants</h1>
  </div>
  <br>
  <!-- The Modal -->
        <div id="myModal" class="modal">
              <!-- Modal content -->
            <div class="modal-content">
              <span class="close" ng-click="closeModal('myModal')">&times;</span>
              <!-- RESUME -->
                <!-- The Grid -->
                <div class="w3-row-padding w3-padding-16" ng-model="vm.user">
                  <div class="row">
                    <div class="w3-display-container">
                        <div class="container">
                          <button style="margin-botton: 8px; width:175px;" class="btn btn-primary" ng-click="printResume('resumeContent_1', 'resumeContent_2', 'resumeContent')">Print Application</button>
                        </div>
                    </div>
                    <hr />
                  </div>
                  <br>
                  <br>
                  <!-- Left Column -->
                  <div id="resumeContent">
                    <div class="col-xs-6 col-md-4">

                    <div class="jumbotron">
                      <div class="w3-display-container">
                        <img ngf-src="vm.user.profileImageURL" style="width:100%" ng-if="vm.user.profileImageURL !== null || vm.user.profileImageURL !== undefined || vm.user.profileImageURL !== ''"alt="Avatar" ngf-drop>
                        <img src="/modules/users/client/img/profile/default.png" style="height: 200px; width: 200px; border-radius:50%;" ng-if="vm.user.profileImageURL === null || vm.user.profileImageURL === undefined || vm.user.profileImageURL === ''"alt="Avatar">
                        <br />

                      </div>
                      <!-- <div class="w3-display-container">
                  </div> -->
                      <div  id="resumeContent_1">
                        <!-- <img src="#" style="width:100%" alt="Avatar"> -->
                        <!-- <div class="w3-display-bottomleft w3-container w3-text-black"> -->
                        <!-- <h2>Student Name Here</h2> -->
                        <!-- </div> -->
                        <center><h6><b>{{vm.user.application.firstName}}  {{vm.user.application.lastName}}</b></h6></center>
                        <hr style="width: 100%; color: #ccc; height: 1px; background-color:#ccc;" />
                        <center><h6><i class="fa fa-home fa-fw w3-margin-right w3-large"></i></h6>
                        <h6>{{vm.user.application.address.line_1}} {{vm.user.application.address.line_2}}, {{vm.user.application.address.city}}, {{vm.user.application.address.state}} {{vm.user.application.address.zipcode}}</h6></center>
                        <hr style="width: 100%; color: #ccc; height: 1px; background-color:#ccc;" />
                        <center><h6><i class="fa fa-envelope fa-fw w3-margin-right w3-large"></i></h6>
                        <h6>{{vm.user.application.email}}</h6></center>
                        <center><h6><i class="fa fa-phone fa-fw w3-margin-right w3-large"></i></h6>
                        <h6>{{vm.user.application.phone}}</h6></center>
                        <center><h6><i class="fa fa-university fa-fw w3-margin-right w3-large"></i></h6>
                        <h6>{{vm.user.application.school}}</h6></center>
                          <hr style="width: 100%; color: #ccc; height: 1px; background-color:#ccc;" />
                        <center><h6 class="w3-text-black"><b>Parent Informtation</b></h6>
                        <h6><i class="fa fa-briefcase fa-fw w3-margin-right w3-large"></i></h6>
                        <h6>{{vm.user.application.parent.name}}</h6>
                        <h6 class="w3-text-black"><i class="fa fa-envelope fa-fw w3-margin-right w3-large"></i></h6>
                        <h6>{{vm.user.application.parent.email}}</h6></center>
                        <hr style="width: 100%; color: #ccc; height: 1px; background-color:#ccc;" />
                        <center><h6><b>Interests</b></h6>
                        <h6>1. {{vm.user.application.interests[0]}}</h6>
                        <h6>2. {{vm.user.application.interests[1]}}</h6>
                        <h6>3. {{vm.user.application.interests[2]}}</h6></center>
                        <br>
                      </div>
                    </div>

                    <br>
                    <!-- End Left Column-->
                  </div>

                  <!-- Right Column -->

                  <div class="col-xs-12 col-md-8">
                    <div id="resumeContent_2">

                    <div class="jumbotron">
                      <h3 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xlarge"></i>Classes</h3>
                      <div ng-repeat="class in vm.user.application.classes">
                        <hr style="width: 100%; color: #ccc; height: 1px; background-color:#ccc;" />
                        <h6 ><b>Class Title:</b> {{class.title}}</h6>
                        <h6 class="w3-text-black"><b>Grade:</b> {{class.grade}}</h6>
                        <h6 class="w3-text-black"><b>Description:</b> {{class.description}}</h6>
                      </div>
                    </div>

                    <div class="jumbotron">
                      <h3 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xlarge"></i>Clubs</h3>
                      <div ng-repeat="club in vm.user.application.clubs">
                        <hr style="width: 100%; color: #ccc; height: 1px; background-color:#ccc;" />
                        <h6 class="w3-text-black"><b>Club Name:</b> {{club.name}}</h6>
                        <h6 class="w3-text-black"><b>Position:</b> {{club.position}}</h6>
                        <h6 class="w3-text-black"><b>Description:</b> {{club.description}}</h6>
                      </div>
                    </div>
                    <div class="jumbotron">
                      <h3 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xlarge"></i>Projects</h3>
                      <div ng-repeat="project in vm.user.application.projects">
                        <hr style="width: 100%; color: #ccc; height: 1px; background-color:#ccc;" />
                        <h6 class="w3-text-black"><b>Project Name:</b> {{project.title}}</h6>
                        <h6 class="w3-text-black"><b>Link:</b> {{project.link}}</h6>
                        <h6 class="w3-text-black"><b>Description:</b> {{project.description}}</h6>
                      </div>
                    </div>
                    <div class="jumbotron">
                      <h3 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xlarge"></i>Volunteer Experience</h3>
                      <div ng-repeat="volWork in vm.user.application.volunteerExperiences">
                        <hr style="width: 100%; color: #ccc; height: 1px; background-color:#ccc;" />
                        <h6 class="w3-text-black"><b>Organization:</b> {{volWork.organizationName}}</h6>
                          <h6 class="w3-text-black"><b>Experience Title:</b> {{volWork.position}}</h6>
                          <h6 class="w3-text-black"><b>Description:</b> {{volWork.description}}</h6>
                          <p class="w3-text-black"><i class="fa fa-calendar fa-fw w3-margin-right"></i>{{volWork.startDate | date: "mediumDate" }} - <span class="w3-tag w3-grey w3-round">{{volWork.endDate | date: "mediumDate"}}</span></p>
                      </div>
                    </div>
                    <div class="jumbotron">
                      <h3 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xlarge"></i>Work Experience</h3>
                      <div ng-repeat="work in vm.user.application.professionalExperiences">
                        <hr style="width: 100%; color: #ccc; height: 1px; background-color:#ccc;" />
                        <h6 class="w3-text-black"><b>Company:</b> {{work.companyName}}</h6>
                        <h6 class="w3-text-black"><b>Job Title:</b> {{work.position}}</h6>
                        <h6 class="w3-text-black"><b>Description:</b> {{work.description}}</h6>
                        <p class="w3-text-black"><i class="fa fa-calendar fa-fw w3-margin-right"></i>{{work.startDate | date: "mediumDate" }} - <span class="w3-tag w3-grey w3-round">{{work.endDate | date: "mediumDate"}}</span></p>
                      </div>
                    </div>
                  </div>
                  </div>
                </div> <!--resume-content-->
                  <!--End Right Column -->
                </div>

                <!--End Page Container -->
              </div>
            <!-- END -->
            </div>
  <div class="col-xs-12 col-md-8">
    <div class="jumbotron jumbotron fluid">
      <div class="container">
        <center>
          <button class="sign-button sign-in-button" ng-click="vm.autoAccept()">Auto Accept Students</button>
        </center>
      </div>
    </div>
  <div class="jumbotron">
  <div class="container">
    <ul class="nav nav-tabs">
      <li class = "nav-item active" role="presentation" ><a data-toggle="tab" href="#activeForms" ng-click="vm.listActiveStudents();">Active</a></li>
      <li role="presentation"><a data-toggle="tab" href="#inactiveForms" ng-click="vm.listDeactivatedStudents();">Inactive</a></li>
    </ul>
    <br>

    <div class="tab-content">
      <div id="activeForms" class="tab-pane fade in active">
        <div class="container">
          <div data-ng-init = "vm.listActiveStudents();" class="container">
          <input class="form-control" type="text" ng-model="vm.search" placeholder="Search" ng-change="vm.figureOutItemsToDisplay()" />
        </div>
        <br>
        <div class="container">
          <div class="list-group">
            <!--<a ng-repeat="user in vm.pagedItems" ui-sref="admin.user({userId: user._id})" class="list-group-item">-->
            <a ng-repeat="student in vm.pagedItems" ng-click="vm.displayStudent(student); user_selected = true;" class="list-group-item">
            <h4 class="list-group-item-heading" ng-bind-template="{{student.application.firstName}}  {{student.application.lastName}}"></h4><i class="glyphicon glyphicon-ok" ng-if="student.timeSlot.length === 1" style="color:green"></i>
            <h5 class="pull-right" ng-bind-template="{{student.application.school}}"></h5>
            <br>
          </a>
        </div>
        </div>
        <div class="container">
        <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
        </div>
      </div>
      </div>
      
      <div id="inactiveForms" class="tab-pane fade">
        <div class="container">
          <div class="container">
          <input class="form-control" type="text" ng-model="vm.search" placeholder="Search" ng-change="vm.figureOutItemsToDisplay()" />
        </div>
        <br>
        <div class="container">
          <div class="list-group">
            <!--<a ng-repeat="user in vm.pagedItems" ui-sref="admin.user({userId: user._id})" class="list-group-item">-->
            <a ng-repeat="student in vm.pagedItems" ng-click="vm.displayStudent(student); user_selected = true;" class="list-group-item">
            <h4 class="list-group-item-heading" ng-bind-template="{{student.application.firstName}}  {{student.application.lastName}}"></h4><i class="glyphicon glyphicon-ok" ng-if="student.timeSlot.length === 1" style="color:green"></i>
            <h5 class="pull-right" ng-bind-template="{{student.application.school}}"></h5>
            <br />
          </a>
        </div>
        </div>
        <div class="container">
        <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
        </div>
      </div>
      </div>
    </div>
    <!--START -->





    <!-- END -->

    <!-- END2 -->

  </div>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="jumbotron jumbotron fluid" >
  <div class="container">
    <center>
    <div ng-switch="vm.selected_user">
      <div ng-switch-when=true>
        <div class="container">

          <div class="row">
            <div class="row">
              <center>
                  <div ng-bind-template="{{vm.user.application.firstName}} {{vm.user.application.lastName}}"></div>
                </center>
            </div>
          <hr style="width: 100%; color: #ccc; height: 1px; background-color:#ccc;" />
          <div class="row">
            <center>
              <h6 style="font-weight: bold;">School</h6>
              <div ng-bind-template="{{vm.user.application.school}}"></div>
            </center>
          </div>
          <hr style="width: 100%; color: #ccc; height: 1px; background-color:#ccc;" />
          <div class="row">
            <center>
              <h6 style="font-weight: bold;">Preferred Areas</h6>
              <div ng-bind-template="1. {{vm.user.application.interests[0]}}"></div>
              <div ng-bind-template="2. {{vm.user.application.interests[1]}}"></div>
              <div ng-bind-template="3. {{vm.user.application.interests[2]}}"></div>
            </center>
          </div>
          <hr style="width: 100%; color: #ccc; height: 1px; background-color:#ccc;" />
          <div class="row">
            <center>
              <h6 style="font-weight: bold;">Preferred Sessions</h6>
              <div ng-bind-template="1. Session {{vm.user.application.preferredSession1}}"></div>
              <div ng-bind-template="2. Session {{vm.user.application.preferredSession2}}"></div>
              <div ng-bind-template="3. Session {{vm.user.application.preferredSession3}}"></div>
            </center>
          </div>

          <div class="row">
            <center>
              <h6 style="font-weight: bold;">Interview Rankings</h6>
              <div ng-if="vm.user.indivRanks[0] === null && vm.user.indivRanks[1] === null && vm.user.indivRanks[2] === null">No rankings have been posted yet.</div>
              <div ng-if="vm.user.indivRanks[0] !== null"><div ng-bind-template="1. {{vm.user.indivRanks[0]}}"></div></div>
              <div ng-if="vm.user.indivRanks[1] !== null"><div ng-bind-template="2. {{vm.user.indivRanks[1]}}"></div></div>
              <div ng-if="vm.user.indivRanks[2] !== null"><div ng-bind-template="3. {{vm.user.indivRanks[2]}}"></div></div>
              <div ng-if="vm.user.indivRanks[0] !== null && vm.user.indivRanks[1] !== null && vm.user.indivRanks[2] !== null"><div ng-bind-template="Total: {{()}}"></div></div>

            </center>
          </div>
          <hr style="width: 100%; color: #ccc; height: 1px; background-color:#ccc;" />
          <div class="row">
            <center>
              <button class="btn btn-primary" ng-click="openModal(student, 'myModal')">View Application</button>
              <br />
              <hr style="width: 100%; color: #ccc; height: 1px; background-color:#ccc;" />
              <button ng-if="vm.user.ResumeId !== null || vm.user.ResumeId !== '' " ng-click="vm.viewForm(vm.user.ResumeId)" class="btn btn-primary">View Resume</button>
              <element ng-switch="vm.user.active">
                <element ng-switch-when=true>
              <hr style="width: 100%; color: #ccc; height: 1px; background-color:#ccc;" />
              <div class="row">
                <div class="container">
                <center><b>Accept</b></center>
                <br />
              </div>
                  <div class="container">
                    <select ng-model="vm.sessionType">
                      <option value="">Not Accepted</option>
                      <option value="NA">Remove</option>
                      <option value=1>1</option>
                      <option value=2>2</option>
                      <option value=3>3</option>
                    </select>
                  </div>

            <div class="container">
              <br>
            <button class="btn btn-primary btn-sm" ng-click="vm.manAcceptStudent(vm.user, vm.sessionType)">Accept</button>
          </div>
          </div>
        </element>
        <element ng-switch-when=false>
        </element>
      </element>
            </center>
          </div>
          <hr style="width: 100%; color: #ccc; height: 1px; background-color:#ccc;" />
        </element>
          <element ng-switch-when=false>
          </element>
          <div class="row">
            <center>
              <element ng-switch="vm.user.active">
                <element ng-switch-when="true">
                  <button class="btn btn-warning" ng-click="vm.deactivateStudent(vm.user.user, vm.user, $index)">Deactivate</button>
                </element>
                <element ng-switch-when="false">
                  <button class="btn btn-primary" ng-click="vm.activateStudent(vm.user.user, vm.user, $index)">Activate</button>
                </element>
              </element>
            </center>
          </div>

          <!--<div class="row">
            <div class="col-md-3"><strong>Provider</strong></div>
            <div class="col-md-6" ng-bind="vm.user.provider"></div>
          </div>-->
          <!--<div class="row">
            <div class="col-md-6" ng-bind="vm.user.created"></div>
          </div>
          <hr/>-->
        </div>

          <!--  <button style="margin-bottom:8px; width:175px;" class="btn btn-primary" ng-if="student.NDAId !== '' " ng-click="vm.viewForm(vm.user.NDAId)">View NDA</button>
            <button style="margin-bottom:8px; width:175px;" class="btn btn-primary" ng-if="student.WaiverId !== ''" ng-click="vm.viewForm(vm.user.WaiverId)">View Waiver</button>
            <button style="margin-bottom:8px;" class="btn btn-primary" ng-if="student.letterOfRecommendationId !== ''" ng-click="vm.viewForm(vm.user.letterOfRecommendationId)">View Letter of Recommendation</button>

            <button class="btn btn-primary btn-warning" ng-click="vm.approveForms(student)"><i class="glyphicon glyphicon-edit"></i>Approve Forms</button>
            <button class="btn btn-primary btn-warning" ng-click="vm.deactivateStudent(student.user, student, $index)">Deactivate</button>

            <select ng-model="vm.formFixName">
              <option value='NDA'>NDA</option>
              <option value='Waiver'>Waiver</option>
              <option value='Letter of Recommendation'>Letter of Recommendation</option>
              <option value='Resume'>Resume</option>
            </select>
            <button class="btn btn-primary btn-sm" ng-click="vm.sendFormFixEmail(vm.user, vm.formFixName)">Send Form Fix Email</button>-->
          <br>
      </div>
    </div>
  <div ng-switch-when="false">
    Click on a student to view their information.
  </div>
  </div>
</center>
</div>
</div>
</div>
  <!--<div class="list-group">
    <!--<a ng-repeat="userReq in vm.pagedItems" ui-sref="admin.user({userId: user._id})" class="list-group-item">
    <a ng-repeat="userReq in vm.pagedItems" class="list-group-item">
      <h4 class="list-group-item-heading" ng-bind="user.username"></h4>
      <!--<p class="list-group-item-text pull-right small" ng-bind="user.roles"></p>
      <p class="list-group-item-text" ng-bind="user.email"></p>
    </a>
  </div>-->

</section>

</html>
