<!DOCTYPE html>
<html>
<title>Applicants</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.jumbotron {
    margin-top: 1rem;
    posistion: relative;
    z-index: 2;
    box-shadow: 0 4px 16px -6px grey;
    background-color: white;
}
</style>
<section>
	<!--
  <div style="background-color:#003d66; font-weight:bold; color:white; padding:25px; margin-top:-4rem; margin-left: calc(50% - 50vw); width:100vw;" class="container">
    <h1 style="font-weight:bold; margin-left: 2rem;">CSV Download</h1>
  </div>-->
  <nav role="navigation" class="navbar navbar-custom navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <h5 class="navbar-text">CSV Download</h5>
      </div>
    <center>
  </center>
</div>
</nav>
  <div class="col-xs-12 col-md-12">
    <div class="jumbotron jumbotron fluid">
      <div class="container">
        <center>
          <h2 class="page-header">Download Student Info</h2>
          <button ng-click="downloadAllCSV()" style=""class=" sign-button sign-in-button">CSV File - All Students</button>
          <!--<button href="https://login.mailchimp.com/?_ga=2.58884005.94798771.1511960025-1343096970.1491979803" class="btn btn-primary btn-lg">Email Listserv</button>-->
          <br>
          <br>
          <button ng-click="downloadActiveCSV()" style=""class="sign-button sign-in-button">CSV File - Accepted Students</button>
          <br>
          <h2 class="page-header">Download Volunteer Info</h2>
          <button ng-click="downloadVolunteersCSV()" style=""class="sign-button sign-in-button">CSV File - All Volunteers</button>
        </center>
      </div>
    </div>
  </div>
</section>
</html>
