<html>
<title>Admin Dashboard</title>
<section>
<style>
  /* this is to stop ng-if and ng-show from flickering when changing */
  .ng-leave {
      display:none !important;
  }
</style>
<div id="overlay" ng-show="vm.loading">
  <div class="loader"></div>
</div>
<nav role="navigation" class="navbar navbar-custom navbar-static-top">
<div class="container-fluid">
    <h3 class="navbar-text">Dashboard</h3>
    <h4 class="navbar-text">Please disable addblock if you experience any errors</h4>
  </div
</div>
</nav>
<br />
<div class="col-xs-12 col-md-6">
    <div class="jumbotron">
    Admin Tools
    <hr class="section-divider" />
    <div class="container">
    <div class="row">
      <center>
      <button ng-if="!vm.appsClosed" ng-click="vm.closeStudentApps()" style=""class="sign-button sign-in-button-warning">Close Applications</button>
      <button ng-if="vm.appsClosed" ng-click="vm.closeStudentApps()" style=""class="sign-button sign-in-button">Open Applications</button>
      </center>
    </div>
  </div>
  </div>
  <div class="jumbotron">
    New Student Activity
    <hr class="section-divider" />
    <div class="container">
    <div class="row">
      <div class="text-center"><strong>Sign-ups this Week</strong></div>
      <canvas id="line" class="chart chart-line" chart-config="vm.newStudentActivityGraph.config" chart-data="vm.newStudentActivityGraph.data" chart-labels="vm.newStudentActivityGraph.labels" chart-series="vm.newStudentActivityGraph.series" chart-options="vm.newStudentActivityGraph.options" chart-dataset-override="vm.newStudentActivityGraph.datasetOverride" chart-click="vm.newStudentActivityGraph.onClick">
      </canvas>
    </div>
  </div>
  </div>
  <div class="jumbotron">
    Completed Student Applications
    <hr class="section-divider" />
    <div class="container">
      <div class="row">
        <canvas id="doughnut" class="chart chart-doughnut" chart-config="vm.completedStudentAppsGraph.config" chart-data="vm.completedStudentAppsGraph.data" chart-labels="vm.completedStudentAppsGraph.labels" chart-click="vm.completedStudentAppsGraph.onClick">
        </canvas>
      </div>
    </div>
  </div>
  <div class="jumbotron">
    Completed Forms
    <hr class="section-divider" />
    <div class="container">
      <div class="row">
        <canvas id="doughnut" class="chart chart-doughnut" chart-config="vm.completedStudentFormsGraph.config" chart-data="vm.completedStudentFormsGraph.data" chart-labels="vm.completedStudentFormsGraph.labels" chart-click="vm.completedStudentFormsGraph.onClick">
        </canvas>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12 col-md-6">
  <div class="jumbotron">
    New Volunteer Activity
    <hr class="section-divider" />
    <div class="container">
    <div class="row">
      <div class="text-center"><strong>Sign-ups this Week</strong></div>
      <canvas id="line" class="chart chart-line" chart-config="vm.newVolunteerActivityGraph.config" chart-data="vm.newVolunteerActivityGraph.data" chart-labels="vm.newVolunteerActivityGraph.labels" chart-series="vm.newVolunteerActivityGraph.series" chart-options="vm.newVolunteerActivityGraph.options" chart-dataset-override="vm.newVolunteerActivityGraph.datasetOverride" chart-click="vm.newVolunteerActivityGraph.onClick">
      </canvas>
    </div>
  </div>
  </div>
  <div class="jumbotron">
    Completed Volunteer Applications
    <hr class="section-divider" />
    <div class="container">
      <div class="row">
        <canvas id="doughnut" class="chart chart-doughnut" chart-config="vm.completedVolunteerAppsGraph.config" chart-data="vm.completedVolunteerAppsGraph.data" chart-labels="vm.completedVolunteerAppsGraph.labels" chart-click="vm.completedVolunteerAppsGraph.onClick">
        </canvas>
      </div>
    </div>
  </div>
</div>
</section>
</html>
