<!DOCTYPE html>
<html>
<title>Applicants</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- mainly effects font size/shape/color -->
<section>
  <div id="overlay" ng-show="vm.loading">
        <div class="loader"></div>
    </div>
<nav role="navigation" class="navbar navbar-custom navbar-static-top">

<div class="container-fluid">
  <div class="navbar-header">
    <h5 class="navbar-text">Interviews</h5>
  </div>
  <center>
    <button class="btn btn-custom navbar-btn toolbar-button"  ng-click="vm.autoAssignInterviews()">Auto-Assign Interviews</button>
    <form class="navbar-form navbar-right" role="search">
      <div class="input-group">
        <input class="form-control" type="text" ng-model="vm.search" placeholder="Search" ng-change="vm.figureOutItemsToDisplay()" />
        <span class="input-group-btn">
        <button class="btn btn-custom toolbar-button" type="button" ng-click="vm.search=''; vm.figureOutItemsToDisplay();"><i class="glyphicon glyphicon-remove"></i></button>
        </span> </div>
    </form>
  </center>
</div>
</nav>
<div class="col-xs-12 col-md-8">
  <div class="jumbotron jumobtron fluid">
    <div class="container">
      <ul class="nav nav-tabs">
        <li class = "nav-item active" role="presentation" ><a data-toggle="tab" href="#activeForms" ng-click="vm.listActiveStudents();">Active</a></li>
        <li role="presentation"><a data-toggle="tab" href="#inactiveForms" ng-click="vm.listDeactivatedStudents();">Inactive</a></li>
      </ul>
      <div class="tab-content">
        <div id="activeForms" class="tab-pane fade in active">
          <div data-ng-init = "vm.listActiveStudents();" />
          <br />
          <div class="list-group">
            <!--<a ng-repeat="user in vm.pagedItems" ui-sref="admin.user({userId: user._id})" class="list-group-item">-->
            <a ng-repeat="student in vm.pagedItems" ng-click="vm.displayStudent(student); user_selected = true;" class="row list-group-item">
            <h5 ng-bind-template="{{student.application.firstName}}  {{student.application.lastName}}" />
            <i class="glyphicon glyphicon-ok" ng-if="student.timeSlot.length === 1" style="color:green"></i>
            <!--<h6 class="text-right" ng-bind-template="{{student.application.school}}"></h6>-->
            </a> </div>
          <div>
            <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
          </div>
        </div>
        <div id="inactiveForms" class="tab-pane fade"> <br>
          <div class="list-group">
            <!--<a ng-repeat="user in vm.pagedItems" ui-sref="admin.user({userId: user._id})" class="list-group-item">-->
            <a ng-repeat="student in vm.pagedItems" ng-click="vm.displayStudent(student); user_selected = true;" class="list-group-item">
            <h6 class="list-group-item-text" ng-bind-template="{{student.application.firstName}}  {{student.application.lastName}}"></h6>
            <i class="glyphicon glyphicon-ok" ng-if="student.timeSlot.length === 1" style="color:green"></i>
            <h6 class="pull-right" ng-bind-template="{{student.application.school}}"></h6>
            <br />
            </a> </div>
          <div>
            <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12 col-md-4">
<div class="jumbotron jumbotron fluid" >
  <div class="container">
    <center>
    <div ng-switch="vm.selected_user">
      <div ng-switch-when=true>
        <div class="container">

          <div class="row">
            <div class="row">
              <center>
                  <div ng-bind-template="{{vm.user.application.firstName}} {{vm.user.application.lastName}}"></div>
                </center>
            </div>
          <hr style="width: 100%; color: #ccc; height: 1px; background-color:#ccc;" />
          <div class="row">
            <h6 style="font-weight: bold;">Interviewer 1</h6>
          </div>
          <div class="row">
            <center>
            <div class="col-xs-12 col-md-12">
              <select class="form-control" style="width:100%"ng-model="vm.selectedVol[0]">
                <option ng-repeat = "volunteer in vm.volunteers" value = "{{volunteer.user._id}}">{{volunteer.user.displayName}}</option>
              </select>
            </div>
            <div class="col-xs-12 col-md-12">
              <button class="selection-btn selection-btn-primary" ng-click="vm.addInterviewer(vm.user, vm.selectedVol[0], 0)">Set</button>
              <button class="selection-btn selection-btn-primary" ng-click="vm.removeInterviewer(vm.user, vm.user.interviewerID[0], 0)">Remove</button>

            </div>
            </center>
          </div>
          <hr style="width: 100%; color: #ccc; height: 1px; background-color:#ccc;" />
          <div class="row">
            <h6 style="font-weight: bold;">Interviewer 2</h6>
          </div>
          <div class="row">
            <center>
            <div class="col-xs-12 col-md-12">
              <select class="form-control" style="width:100%"ng-model="vm.selectedVol[1]">
                <option ng-repeat = "volunteer in vm.volunteers" value = "{{volunteer.user._id}}">{{volunteer.user.displayName}}</option>
              </select>
            </div>
            <div class="col-xs-12 col-md-12">
              <button class="selection-btn selection-btn-primary" ng-click="vm.addInterviewer(vm.user, vm.selectedVol[1], 1)">Set</button>
              <button class="selection-btn selection-btn-primary" ng-click="vm.removeInterviewer(vm.user, vm.user.interviewerID[1], 1)">Remove</button>

            </div>
            </center>
          </div>
          <hr style="width: 100%; color: #ccc; height: 1px; background-color:#ccc;" />
          <div class="row">
            <h6 style="font-weight: bold;">Interviewer 3</h6>
          </div>
          <div class="row">
            <center>
            <div class="col-xs-12 col-md-12">
              <select class="form-control" style="width:100%"ng-model="vm.selectedVol[2]">
                <option ng-repeat = "volunteer in vm.volunteers" value = "{{volunteer.user._id}}">{{volunteer.user.displayName}}</option>
              </select>
            </div>
            <div class="col-xs-12 col-md-12">
              <button class="selection-btn selection-btn-primary" ng-click="vm.addInterviewer(vm.user, vm.selectedVol[2], 2)">Set</button>
              <button class="selection-btn selection-btn-primary" ng-click="vm.removeInterviewer(vm.user, vm.user.interviewerID[2], 2)">Remove</button>
            </div>
            </center>
          </div>
        </div>
      </div>
    </div>
          <div ng-switch-when="false"> Click on a student to view their information. </div>
        </div>
      </center>
    </div>
  </div>
</div>
</section>
</html>
