<!DOCTYPE html>
<html>
<title>User Requests</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- mainly effects font size/shape/color --> <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<section>
  <nav role="navigation" class="navbar navbar-custom navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <h2 class="navbar-text">User Requests</h2>
      </div>
    <center>
    <form class="navbar-form navbar-right" role="search">
      <div class="input-group">
        <input class="form-control" type="text" ng-model="vm.search" placeholder="Search" ng-change="vm.figureOutItemsToDisplay()" />
        <span class="input-group-btn">
        <button class="btn btn-custom toolbar-button" type="button" ng-click="vm.search=''; vm.figureOutItemsToDisplay();"><i class="glyphicon glyphicon-remove"></i></button>
      </span>
    </form>
  </div>

  </center>
</div>
</nav>
  <div class="jumbotron jumbotron-fluid">
  <div>
      <div class="list-group">
    <a ng-repeat="userreq in vm.pagedItems" class="list-group-item">
      <h5 class="list-group-item-heading" ng-bind="userreq.firstName + ' ' + userreq.lastName"></h5>
      <!--<p class="list-group-item-text pull-right small" ng-bind="userreq.lastName"></p>-->
      <h6 class="list-group-item-text pull-right" ng-bind="userreq.email"></h6>
      <br>
      <h6 class="list-group-item-text">Send Email for Sign-up as:</h6>
      <button class="selection-btn selection-btn-primary" type= "submit" ng-click="userreq.roles = ['volunteer']; vm.sendSignupEmail(userreq)">Volunteer</button>
      <button class="selection-btn selection-btn-primary" type= "submit" ng-click="userreq.roles = ['admin']; vm.sendSignupEmail(userreq)">Admin</button>
      <button class="selection-btn selection-btn-danger pull-right" type= "submit" ng-click="vm.remove(userreq)">Remove</button>
    </a>
  </div>
  <div>
    <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
  </div>
</div>

</div>
  <!--<div class="list-group">
    <!--<a ng-repeat="userReq in vm.pagedItems" ui-sref="admin.user({userId: user._id})" class="list-group-item">
    <a ng-repeat="userReq in vm.pagedItems" class="list-group-item">
      <h4 class="list-group-item-heading" ng-bind="user.username"></h4>
      <!--<p class="list-group-item-text pull-right small" ng-bind="user.roles"></p>
      <p class="list-group-item-text" ng-bind="user.email"></p>
    </a>
  </div>-->

  </section>
