<!DOCTYPE html>
<html>
<title>User Requests</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- mainly effects font size/shape/color --> <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  font-family: "Roboto", sans-serif;
}
.jumbotron {
  posistion:relative;
  z-index: 2;
  box-shadow: 0 4px 16px -6px grey;
  background-color: white;
}
</style>

<section>
  <div style="background-color:#003d66; font-weight:bold; color:white; padding:25px; margin-top:-4rem; margin-left: calc(50% - 50vw); width:100vw;" class="container">
    <h1 style="font-weight:bold; margin-left:2rem;">User Requests</h1>
  </div>
  <br>
  <div class="jumbotron jumbotron-fluid">
  <div>
    <div class="container">
        <input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="Search" ng-change="vm.figureOutItemsToDisplay()" />
    </div>
    <br>
    <div class="container">
      <div class="list-group">
    <a ng-repeat="userreq in vm.pagedItems" class="list-group-item">
      <h4 class="list-group-item-heading" ng-bind="userreq.firstName + ' ' + userreq.lastName"></h4>
      <!--<p class="list-group-item-text pull-right small" ng-bind="userreq.lastName"></p>-->
      <p class="list-group-item-text pull-right small" ng-bind="userreq.email"></p>
      <br>
      <p class="list-group-item-text">Send Email for Sign-up as:</p>
      <button class="sign-button sign-in-button" type= "submit" ng-click="userreq.roles = ['student']; vm.sendSignupEmail(userreq)">Student</button>
      <button class="sign-button sign-in-button" type= "submit" ng-click="userreq.roles = ['volunteer']; vm.sendSignupEmail(userreq)">Volunteer</button>
      <button class="sign-button sign-in-button" type= "submit" ng-click="userreq.roles = ['admin']; vm.sendSignupEmail(userreq)">Admin</button>
      <button class="sign-button sign-in-button-danger pull-right" type= "submit" ng-click="vm.remove(userreq)">Remove</button>
    </a>

  </div>
</div>
<div class="container">
<uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
</div>
</div>

</div>
  <!--<div class="list-group">
    <!--<a ng-repeat="userReq in vm.pagedItems" ui-sref="admin.user({userId: user._id})" class="list-group-item">
    <a ng-repeat="userReq in vm.pagedItems" class="list-group-item">
      <h4 class="list-group-item-heading" ng-bind="user.username"></h4>
      <!--<p class="list-group-item-text pull-right small" ng-bind="user.roles"></p>
      <p class="list-group-item-text" ng-bind="user.email"></p>
    </a>
  </div>-->

  </section>
