<!DOCTYPE html>
<html>
<title>Applicants</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- mainly effects font shape/color/size --> <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<section>
  <div style="background-color:#003d66; font-weight:bold; color:white; padding:25px; margin-top:-4rem; margin-left: calc(50% - 50vw); width:100vw;" class="container">
    <h1 style="font-weight:bold; margin-left: 2rem;">Match</h1>
  </div>
  <nav role="navigation" class="navbar navbar-custom navbar-static-top" style="margin-left: calc(50% - 50vw); margin-right: calc(50% - 50vw);">
    <div class="container-fluid">
    <center>
      <button class="btn btn-custom navbar-btn toolbar-button" ng-click="vm.autoMatch()">Auto-Match</button>
      <button class="btn btn-custom navbar-btn toolbar-button" ng-click="vm.manMatch(vm.selected_student, vm.selected_volunteer)">Match Pair</button>
      <button class="btn btn-custom navbar-btn toolbar-button" ng-click="vm.manUnmatch(vm.selected_student, vm.selected_volunteer)">Unmatch Pair</button>
    <form class="navbar-form navbar-right" role="search">
      <div class="input-group">
        <input class="form-control" type="text" ng-model="vm.search_volunteers" placeholder="Search Volunteers" ng-change="vm.figureOutItemsToDisplay_volunteers()" />
        <span class="input-group-btn">
        <button class="btn btn-custom toolbar-button" type="button" ng-click="vm.search_volunteers=''; vm.figureOutItemsToDisplay_volunteers();"><i class="glyphicon glyphicon-remove"></i></button>
      </span>
    </div>
  </form>
  <form class="navbar-form navbar-right" role="search">
    <div class="input-group">
      <input class="form-control" type="text" ng-model="vm.search_students" placeholder="Search Students" ng-change="vm.figureOutItemsToDisplay_students()" />
      <span class="input-group-btn">
      <button class="btn btn-custom toolbar-button" type="button" ng-click="vm.search_students=''; vm.figureOutItemsToDisplay_students();"><i class="glyphicon glyphicon-remove"></i></button>
    </span>
  </div>
</form>
    </center>
</nav>

  <div class="col-xs-12 col-md-6">
  <div class="jumbotron jumobtron fluid">
        <div class="list-group">
          <!--<a ng-repeat="user in vm.pagedItems" ui-sref="admin.user({userId: user._id})" class="list-group-item">-->
          <a ng-repeat="student in vm.pagedItems_students" ng-click="vm.selectStudent(student, this);" class="list-group-item" id="{{student.user}}">
            <h5 class="list-group-item-heading" ng-bind-template="{{student.application.firstName}}  {{student.application.lastName}}"></h5><i class="glyphicon glyphicon-ok" ng-if="student.timeSlot.length === 1" style="color:green"></i>
            <h6 ng-bind-template="{{student.mentor}}"></h6>
          </a>
        </div>
        <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged_students()"></uib-pagination>
</div>
</div>
<div class="col-xs-12 col-md-6">
<div class="jumbotron jumobtron fluid">
      <div class="list-group">
        <!--<a ng-repeat="user in vm.pagedItems" ui-sref="admin.user({userId: user._id})" class="list-group-item">-->
        <a ng-repeat="volunteer in vm.pagedItems_volunteers" ng-click="vm.selectVolunteer(volunteer, this);" class="list-group-item" id="{{volunteer.user._id}}">
          <h5 class="list-group-item-heading" ng-bind-template="{{volunteer.application.firstName}}  {{volunteer.application.lastName}}"></h5><i class="glyphicon glyphicon-ok" ng-if="student.timeSlot.length === 1" style="color:green"></i>
          <h6 ng-bind-template="{{volunteer.mentee.toString()}}"></h6>
        </a>
      </div>
      <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged_volunteers()"></uib-pagination>

</div>
</div>
</section>

</html>
