<html>
<title>Application</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  html,
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Roboto", sans-serif;
  }

  .w3-sidebar {
    z-index: 3;
    width: 250px;
    top: 43px;
    bottom: 0;
    height: inherit;
  }

  .bot-pad {
    margin-bottom: 25px;
  }

  .align-right {
    float: right;
  }

  .inline {
    display: inline;
  }

  .w3-text-black {
    font-family: 'Roboto', sans-serif;
  }

  .w3-text-grey {
    font-family: 'Roboto', sans-serif;
  }

  .roboto {
    font-family: 'Roboto', sans-serif;
  }
</style>

<body class="w3-light-grey">
  <!-- Navbar -->
  <!-- <div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-11" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Home</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">About Us</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Log out</a>
  </div>
</div> -->
  <!-- Sidebar -->
  <!-- <nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
  <h4 class="w3-bar-item"><b>Menu</b></h4>
  <a class="w3-bar-item w3-button w3-hover-black" ui-sref = "dashboard">Dashboard</a>
  <a class="w3-bar-item w3-button w3-hover-black">Application</a>
  <a class="w3-bar-item w3-button w3-hover-black">Forms</a>
 </nav> -->

  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

  <!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
  <center><div class="w3-main " style="">
</center>
    <!-- The Grid -->
    <div class="w3-row-padding w3-padding-16">
      <!-- Left Column -->
      <div class="w3-third">
        <div class="w3-white w3-card-4">
          <!-- <div class="w3-display-container">
      </div> -->
          <div class="w3-container" ng-controller="AdminsController as vm" ng-init="getStudent(id)">

            <!-- <img src="#" style="width:100%" alt="Avatar"> -->
            <!-- <div class="w3-display-bottomleft w3-container w3-text-black"> -->
            <!-- <h2>Student Name Here</h2> -->
            <!-- </div> -->

            <h6 class="w3-text-black"><i class="fa fa-briefcase fa-fw w3-margin-right w3-large"></i><b>Student Name:</b></h6>
            <p class="w3-text-black">{{student.application.name}}</p>
            <h6 class="w3-text-black"><i class="fa fa-home fa-fw w3-margin-right w3-large"></i><b>Home Address:</b></h6>
            <p class="w3-text-black">{{student.application.address}}</p>
            <h6 class="w3-text-black"><i class="fa fa-envelope fa-fw w3-margin-right w3-large"></i><b>Email:</b></h6>
            <p class="w3-text-black">{{student.application.email}}</p>
            <h6 class="w3-text-black"><i class="fa fa-phone fa-fw w3-margin-right w3-large"></i><b>Phone Number:</b></h6>
            <p class="w3-text-black">{{student.application.phone}}</p>

            <h6 class="w3-text-black"><i class="fa fa-university fa-fw w3-margin-right w3-large"></i><b>School:</b></h6>
            <p class="w3-text-black">{{student.application.school}}</p>

            <h6 class="w3-text-black"><i class="fa fa-briefcase fa-fw w3-margin-right w3-large"></i><b>Parent Name:</b></h6>
            <p class="w3-text-black">{{student.application.parent.name}}</p>
            <h6 class="w3-text-black"><i class="fa fa-envelope fa-fw w3-margin-right w3-large"></i><b>Parent Email:</b></h6>
            <p class="w3-text-black">{{student.application.parent.email}}</p>
            <hr>
            <p class="w3-text-black w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right"></i>Interests</b></p>
            <p class="w3-text-black">{{student.interests.toString()}}</p>
            <br>
          </div>
        </div>

        <br>
        <!-- End Left Column-->
      </div>

      <!-- Right Column -->
      <div class="w3-twothird" ng-controller="AdminsController as vm" ng-init="getStudent(id)">

        <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
          <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge"></i>Work Experience</h2>
          <div class="w3-container" ng-repeat="work in student.application.professionalExperiences">
            <h6 class="w3-text-black"><b>Company:</b></h6>
            <p class="w3-text-black">{{work.companyName}}</p>
            <h6 class="w3-text-black"><b>Job Title:</b></h6>
            <p class="w3-text-black">{{work.position}}</p>
            <h6 class="w3-text-black"><b>Description:</b></h6>
            <p class="w3-text-black">{{work.description}}</p>

            <p class="w3-text-black"><i class="fa fa-calendar fa-fw w3-margin-right"></i>{{work.startDate | date: "mediumDate" }} - <span class="w3-tag w3-grey w3-round">{{work.endDate | date: "mediumDate"}}</span></p>
            <hr>
          </div>
        </div>

        <div class="w3-container w3-card-2 w3-white w3-margin-bottom" ng-controller="AdminsController as vm" ng-init="getStudent(id)">
          <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge"></i>Volunteer Experience</h2>
          <div class="w3-container" ng-repeat="volWork in student.application.volunteerExperiences">
            <h6 class="w3-text-black"><b>Organization:</b></h6>
            <form>
              <p class="w3-text-black">{{volWork.organizationName}}</p>
              <h6 class="w3-text-black"><b>Experience Title:</b></h6>
              <p class="w3-text-black">{{volWork.position}}</p>
              <h6 class="w3-text-black"><b>Description:</b></h6>
              <p class="w3-text-black">{{volWork.description}}</p>

              <p class="w3-text-black"><i class="fa fa-calendar fa-fw w3-margin-right"></i>{{volWork.startDate | date: "mediumDate" }} - <span class="w3-tag w3-grey w3-round">{{volWork.endDate | date: "mediumDate"}}</span></p>

              <hr>
          </div>
        </div>

        <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
          <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge"></i>Classes</h2>
          <div class="w3-container" ng-repeat="class in student.application.classes">
            <h6 class="w3-text-black"><b>Class Title:</b></h6>
            <p class="w3-text-black">{{class.title}}</p>
            <h6 class="w3-text-black"><b>Grade:</b></h6>
            <p class="w3-text-black">{{class.grade}}</p>
            <h6 class="w3-text-black"><b>Description:</b></h6>
            <p class="w3-text-black">{{class.description}}</p>

            <h6 class="w3-text-black"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Month Year - <span class="w3-tag w3-grey w3-round">Current</span></h6>

            <hr>
          </div>
        </div>

        <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
          <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge"></i>Clubs</h2>
          <div class="w3-container" ng-repeat="club in student.application.clubs">
            <h6 class="w3-text-black"><b>Club Name:</b></h6>
            <p class="w3-text-black">{{club.name}}</p>
            <h6 class="w3-text-black"><b>Position:</b></h6>
            <p class="w3-text-black">{{club.position}}</p>
            <h6 class="w3-text-black"><b>Description:</b></h6>
            <p class="w3-text-black">{{club.description}}</p>


            <hr>
          </div>
        </div>

        <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
          <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge"></i>Projects</h2>
          <div class="w3-container" ng-repeat="project in student.application.projects">
            <h6 class="w3-text-black"><b>Project Name:</b></h6>
            <p class="w3-text-black">{{project.title}}</p>
            <h6 class="w3-text-black"><b>Link:</b></h6>
            <p class="w3-text-black">{{project.link}}</p>
            <h6 class="w3-text-black"><b>Description:</b></h6>
            <p class="w3-text-black">{{project.description}}</p>


            <hr>
          </div>
        </div>

      </div>

      <!--End Right Column -->
    </div>

    <!--End Page Container -->
  </div>
  </script>

</body>

</html>
