<!DOCTYPE html>
<html>
<title>Applicants</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/modules/core/client/css/core.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<style>
/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
  padding: 20px;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  height: 100%;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100000 !important;
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
</style>

<body>
  <div style="background-color:#003d66 ; font-weight:bold; color:white; padding:25px; margin-bottom: 0; margin-left: calc(50% - 50vw); width:100vw;" class="container">
    <h1 style="font-weight:bold;">Volunteers</h1>
    <!-- <hr> -->
  </div>
  <!--<div class="" style=" padding-bottom:20em; padding:25px; margin-top: -25px; margin-left: calc(-45vw + 45%); width:100vw; height: 80vh">-->
  <div style="padding:25px; margin-bottom: 0; margin-left: calc(50% - 50vw); width:100vw;">
      <!--   <div class="w3-twothird w3-container"> -->
      <button class="tablink" id="defaultOpen"  ng-click="vm.listActiveVolunteers(); openPage('Active_Volunteers', this);" id="defaultOpen">Active</button>
      <button class="tablink" id="defaultOpen"  ng-click="vm.listDeactivatedVolunteers(); openPage('NonActive_Volunteers', this);">Deactivated</button>

      <div class="w3-container w3-card-2 w3-white table-responsive" style="width:100%; height: 65vh; margin-top: 30px;">
        <div id="Active_Volunteers" class="tabcontent">

        <div class="row">
          <h1 style="margin:10px; "></h1>
        </div>

        <div class="row" style="padding:10px;">

          <div class="col-md-12">
            <div class="input-group" id="searchBar" style="margin-top: 2em">
              <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
              <input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="Search" ng-change="vm.figureOutItemsToDisplay()" />
            </div>
          </div>

          <div class="col-md-12">
            <section>
              <div class="list-group">
                <a ng-repeat="volunteer in vm.pagedItems" ng-click="openModal(volunteer.username, 'Modal_AV');" class="list-group-item">
                    <h4 class="list-group-item-text-heading" ng-bind="volunteer.application.name"></h4>
                    <br>
                    <p class="list-group-item-text small pull-right" ng-bind="volunteer.roles"></p>
                    <p class="list-group-item-text small" ng-bind="volunteer.application.areaofexpertise"></p>
                    <p class="list-group-item-text small pull-right" ng-bind="volunteer.sessions"></p>
                    <p class="list-group-item-text small" ng-bind="volunteer.application.email"></p>
                    <p class="list-group-item-text small" ng-bind="volunteer.application.phone"></p>
                    <br>
                  <button "btn btn-primary btn-sm" ng-click="vm.deactivateVolunteer(volunteer.user, volunteer, $index)">Deactivate</button>
                </a>
              </div>
              <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
            </section>
          </div>
        </div>
      </div>

      <!--NonActive Tab starts here-->
      <div id="NonActive_Volunteers" class="tabcontent">

                <div class="row">
                  <h1 style="margin:10px; "></h1>
                </div>

                <div class="row" style="padding:10px;">

                  <div class="col-md-12">
                    <div class="input-group" id="searchBar" style="margin-top: 2em">
                      <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
                      <input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="Search" ng-change="vm.figureOutItemsToDisplay()" />
                    </div>
                  </div>

                  <div class="col-md-12">
                    <section>
                      <div class="list-group">
                        <a ng-repeat="volunteer in vm.pagedItems" ng-click="openModal(volunteer.username, 'Modal_AV');" class="list-group-item">
                            <h4 class="list-group-item-text-heading" ng-bind="volunteer.application.name"></h4>
                            <br>
                            <p class="list-group-item-text small pull-right" ng-bind="volunteer.roles"></p>
                            <p class="list-group-item-text small" ng-bind="volunteer.application.areaofexpertise"></p>
                            <p class="list-group-item-text small pull-right" ng-bind="volunteer.sessions"></p>
                            <p class="list-group-item-text small" ng-bind="volunteer.application.email"></p>
                            <p class="list-group-item-text small" ng-bind="volunteer.application.phone"></p>
                            <br>
                          <button "btn btn-primary btn-sm" ng-click="vm.activateVolunteer(volunteer.user, volunteer, $index)">Activate</button>
                        </a>
                      </div>
                      <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
                    </section>
                  </div>
                </div>
    </div>

      </div>
    </div>
    <div id="Modal_AV" class="modal">
      <!-- Modal content -->
    <div class="modal-content">
      <span class="close" ng-click="closeModal('Modal_AV')">&times;</span>
      <!-- RESUME -->
      <div class="w3-main" >
      <div class="w3-row w3-padding-16">
          <div ng-show="error" class="text-danger">
            <strong ng-bind="error"></strong>
          </div>


          <div class="w3-third">
            <div class="w3-white w3-card-4">
              <div class="w3-display-container" style="width:100%">
                <img ngf-src="vm.modal_vol.profileImageURL" style="width:100%" ng-if="vm.modal_vol.profileImageURL !== null || vm.modal_vol.profileImageURL !== undefined || vm.modal_vol.profileImageURL !== ''"alt="Avatar" ngf-drop>
                <img src="/modules/users/client/img/profile/Unknown.png" style="width:100%" ng-if="vm.modal_vol.profileImageURL === null || vm.modal_vol.profileImageURL === undefined || vm.modal_vol.profileImageURL === ''"alt="Avatar">
              </div>
            </div>
          </div>

          <div class="w3-twothird">
            <div class="w3-container w3-margin-bottom">

              <!-- <div ng-show="student"> -->
              <h6 class="w3-text-black-"><i class="fa fa-briefcase fa-fw w3-margin-right w3-large"></i><b>Volunteer Name:</b> &nbsp; {{vm.modal_vol.application.name}}</h6>
              <br>
              <h6 class="w3-text-black"><i class="fa fa-briefcase fa-fw w3-margin-right w3-large"></i><b>Roles in Program:</b> &nbsp; {{vm.modal_vol.roles.toString()}}</h6>
              <br>
              <h6 class="w3-text-black"><i class="fa fa-envelope fa-fw w3-margin-right w3-large"></i><b>Email:</b> &nbsp; {{vm.modal_vol.application.email}}</h6>
              <br>
              <h6 class="w3-text-black"><i class="fa fa-phone fa-fw w3-margin-right w3-large"></i><b>Phone Number:</b> &nbsp; {{vm.modal_vol.application.phone}}</h6>
              <br>
              <h6 class="w3-text-black"><i class="fa fa-briefcase fa-fw w3-margin-right w3-large"></i><b>Area of Expertise:</b> &nbsp; {{vm.modal_vol.areaofexpertise}}</h6>


              <br>
              <br>
          </div>
        </div>
        </div><br>




        <!-- End Left Column-->
      </div>
      </div>
    <!-- END -->
    </div>
    <div id="Modal_DV" class="modal">
      <!-- Modal content -->
    <div class="modal-content">
      <span class="close" ng-click="closeModal_V('Modal_DV')">&times;</span>
      <!-- RESUME -->
      <div class="w3-main" >
      <div class="w3-row w3-padding-16">
          <div ng-show="error" class="text-danger">
            <strong ng-bind="error"></strong>
          </div>


          <div class="w3-third">
            <div class="w3-white w3-card-4">
              <div class="w3-display-container" style="width:100%">
                <img ngf-src="vm.modal_vol.profileImageURL" style="width:100%" ng-if="vm.modal_vol.profileImageURL !== null || vm.modal_vol.profileImageURL !== undefined || vm.modal_vol.profileImageURL !== ''"alt="Avatar" ngf-drop>
                <img src="/modules/users/client/img/profile/Unknown.png" style="width:100%" ng-if="vm.modal_vol.profileImageURL === null || vm.modal_vol.profileImageURL === undefined || vm.modal_vol.profileImageURL === ''"alt="Avatar">
              </div>
            </div>
          </div>

          <div class="w3-twothird">
            <div class="w3-container w3-margin-bottom">

              <!-- <div ng-show="student"> -->
              <h6 class="w3-text-black-"><i class="fa fa-briefcase fa-fw w3-margin-right w3-large"></i><b>Volunteer Name:</b> &nbsp; {{vm.modal_vol.application.name}}</h6>
              <br>
              <h6 class="w3-text-black"><i class="fa fa-briefcase fa-fw w3-margin-right w3-large"></i><b>Roles in Program:</b> &nbsp; {{vm.modal_vol.roles.toString()}}</h6>
              <br>
              <h6 class="w3-text-black"><i class="fa fa-envelope fa-fw w3-margin-right w3-large"></i><b>Email:</b> &nbsp; {{vm.modal_vol.application.email}}</h6>
              <br>
              <h6 class="w3-text-black"><i class="fa fa-phone fa-fw w3-margin-right w3-large"></i><b>Phone Number:</b> &nbsp; {{vm.modal_vol.application.phone}}</h6>
              <br>
              <h6 class="w3-text-black"><i class="fa fa-briefcase fa-fw w3-margin-right w3-large"></i><b>Area of Expertise:</b> &nbsp; {{vm.modal_vol.areaofexpertise}}</h6>


              <br>
              <br>
          </div>
        </div>
        </div><br>




        <!-- End Left Column-->
      </div>
      </div>
    <!-- END -->
    </div>
</body>

</html>
