<!DOCTYPE html>
<html>
<title>Volunteers</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<section>
  <nav role="navigation" class="navbar navbar-custom navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <h5 class="navbar-text">Volunteers</h5>
      </div>
    <center>
    <form class="navbar-form navbar-right" role="search">
      <div class="input-group">
        <input class="form-control" type="text" ng-model="vm.search" placeholder="Search" ng-change="vm.figureOutItemsToDisplay()" />
        <span class="input-group-btn">
        <button class="btn btn-custom toolbar-button" type="button" ng-click="vm.search=''; vm.figureOutItemsToDisplay();"><i class="glyphicon glyphicon-remove"></i></button>
      </span>
    </form>
  </div>
  </center>
</div>
</nav>
  <div class="col-xs-12 col-md-8">
  <div class="jumbotron">
    <ul class="nav nav-tabs">
      <li class = "nav-item active" role="presentation" ><a data-toggle="tab" href="#activeForms" ng-click="vm.listActiveVolunteers();">Active</a></li>
      <li role="presentation"><a data-toggle="tab" href="#inactiveForms" ng-click="vm.listDeactivatedVolunteers();">Inactive</a></li>
    </ul>
    <br />
    <div class="tab-content">
      <div id="activeForms" class="tab-pane fade in active">
          <div data-ng-init = "vm.listActiveVolunteers();" />
        <div class="list-group">
          <!--<a ng-repeat="user in vm.pagedItems" ui-sref="admin.user({userId: user._id})" class="list-group-item">-->
          <a ng-repeat="volunteer in vm.pagedItems" ng-click="vm.displayVolunteer(volunteer); user_selected = true;" class="list-group-item">
            <h5 class="list-group-item-heading" ng-bind-template="{{volunteer.user.displayName}}"></h5>
          </a>
        </div>
        <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
      </div>
      <div id="inactiveForms" class="tab-pane fade">
        <div class="list-group">
          <!--<a ng-repeat="user in vm.pagedItems" ui-sref="admin.user({userId: user._id})" class="list-group-item">-->
          <a ng-repeat="volunteer in vm.pagedItems" ng-click="vm.displayVolunteer(volunteer); user_selected = true;" class="list-group-item">
            <h5 class="list-group-item-heading" ng-bind-template="{{volunteer.user.displayName}}"></h5>
          </a>
        </div>
        <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
      </div>
    </div>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="jumbotron jumbotron fluid" >
    <center>
    <div ng-switch="vm.selected_user">
      <div ng-switch-when=true>

          <div class="row">
            <div class="row">
              <center>
                  <div ng-bind-template="{{vm.user.user.displayName}}"></div>
                </center>
            </div>
          <hr class="section-divider" />
          <div class="row">
            <center>
              <h6 style="font-weight: bold;">Roles</h6>
              <div ng-bind-template="{{vm.user.roles.toString()}}"></div>
            </center>
          </div>
          <div class="row">
            <center>
              <h6 style="font-weight: bold;">Area of Expertise</h6>
              <div ng-bind-template="{{vm.user.areaofexpertise}}"></div>
            </center>
          </div>
          <hr class="section-divider" />
          <div class="row">
            <center>
              <h6 style="font-weight: bold;">Sessions</h6>
              <div ng-bind-template="Sessions {{vm.user.sessions.toString()}}"></div>
            </center>
          </div>
          <hr class="section-divider" />

          <div class="row">
            <element ng-switch="vm.user.active">
              <element ng-switch-when="true">
                <button class="selection-btn selection-btn-danger" ng-click="vm.deactivateVolunteer(vm.user.username, vm.user, $index)">Deactivate</button>
              </element>
              <element ng-switch-when="false">
                <button class="selection-btn selection-btn-verify" ng-click="vm.activateVolunteer(vm.user.username, vm.user, $index)">Activate</button>
            </element>
          </div>
        </div>
        <br>
    </div>
  <div ng-switch-when="false">
    Click on a volunteer to view their information.
  </div>
  </div>
</center>
</div>
</div>
</section>

</html>
