<html>
<title>Application</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/modules/core/client/css/core.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  html,
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Roboto", sans-serif;
  }
</style>

<body>
  <!-- The Grid -->
  <div style="background-color:#003d66 ; color:white; padding:25px; margin-bottom: 0; margin-left: calc(50% - 50vw); width:100vw;" class="container">
    <!-- <h1 class ="col-lg-4" style="margin-left:10vw"> -->
    <h1>
      <!-- <h1 class ="col-lg-8"> -->
      <center>
        <ul>Volunteer Application</ul>
      </center>
        <!-- Dashboard <small>student</small> -->
      </h1>
  </div>
  <div class="container">


    <div class="w3-row w3-padding-64">
      <!--   <div class="w3-twothird w3-container"> -->
      <div class="w3-container w3-card-2 w3-white w3-margin-bottom" style="margin-left: 150px; margin-right: 150px; padding-left: 70px; padding-right: 70px; padding-top: 20px; padding-bottom: 70px;">
        <h1 style="padding-left: 0px;"> Volunteer Application </h1>
        <h7> Please fill out all fields before submitting</h7>
        <br>
        <br>
        <form name="vm.volunteerForm" class="application" novalidate autocomplete="off">
        <h6 class="w3-text-black"><i class="fa fa-briefcase fa-fw w3-margin-right w3-large"></i><b>Volunteer Name:</b></h6>
        <input style="width:30vw; margin-left: 40px;" type="text" ng-model='vm.credentials.application.name' placeholder="" required><br><hr>
        <h6 class="w3-text-black"><i class="fa fa-envelope fa-fw w3-margin-right w3-large"></i><b>Email:</b></h6>
        <input style="width:30vw; margin-left: 40px;" type="email" ng-model='vm.credentials.application.email' placeholder="" required><br><hr>
        <h6 class="w3-text-black"><i class="fa fa-phone fa-fw w3-margin-right w3-large"></i><b>Phone Number:</b></h6>
        <input style="width:30vw; margin-left: 40px;" type="text" ng-model='vm.credentials.application.phone' placeholder="" required><br><hr>
        <h6 class="w3-text-black"><i class="fa fa-university fa-fw w3-margin-right w3-large"></i><b>Roles in Program: </b></h6>
        <h6 class="w3-text-black"><b>Please choose one:</b></h6>
        <select style="width:30vw; margin-left: 40px;" id="current_roles" ng-model="vm.roles" required>
          <option value = 'm'>I would like to be a <b>mentor</b> ONLY</option>
          <option value = 'i'>I would like to be an <b>interviewer</b> ONLY</option>
          <option value = 'mi'>I would like to be BOTH an <b>interviewer</b> AND a <b>mentor</b></option>
        </select><br><hr>
        <h6 class="w3-text-black"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-black"></i>Area of Expertise:</b></h6>
        <h7 style="margin-left: 40px;">If you would like to be a mentor, please select your area of expertise:</h7>
        <select style="width:30vw; margin-left: 40px;" ng-model="vm.credentials.application.areaofexpertise" required>
            <option value = "Electrical Engineering / Design">Electrical Engineering / Design</option>
            <option value = "Mechanical Engineering / Design">Mechanical Engineering / Design</option>
            <option value = "Software Engineering Development">Software Engineering Development</option>
            <option value = "Industrial / User Interface / Research Design">Industrial / User Interface / Research Design</option>
            <option value = "Program Management">Program Management</option>
            <option value = "Marketing">Marketing</option>
            <option value = "Business">Business</option>
            <option value = "Product Life Cycle Management">Product Life Cycle Management</option>
            <option value = "Other">Other</option>
          </select><br><hr>
        <h6 class="w3-text-black"><i class="fa fa-university fa-fw w3-margin-right w3-large"></i><b>Mentorship Session Availability:</b></h6>
        <h7 style="margin-left: 40px;">If you would like to be a mentor, please select all sessions that you can attend:</h7><br>
        <div ng-model="vm.credentials.application.sessions" >
          <input name = "s1" ng-model='vm.sessions_1' type="checkbox" id = "s1" value="1">Session 1: June 25-29</option><br>
          <input name = "s2" ng-model='vm.sessions_2' type="checkbox" id = "s2" value="2">Session 2: July 23-27</option><br>
          <input name = "s3" ng-model='vm.sessions_3' type="checkbox" id = "s3" value="3">Session 3: August 6-10</option><br>
        </div>
        <br>
        <!-- <button style="margin-left: 40px;" class="btn btn-primary btn-lg align-center" ng-click='modifyVolunteer();' ng-controller="VolunteersController"  ng-controller="HeaderController">Submit</button> -->
            <element ng-switch="vm.updateIsSubmit">
              <element ng-switch-when="true">
                <button  class ="btn btn-success btn-lg"  <button type="submit" class="btn btn-primary" ng-click="vm.updateVolunteer(vm.volunteerForm.$valid)">Update Application</button>
              </element>
              <element ng-switch-when="false">
                <button  class ="btn btn-success btn-lg"  <button type="submit" class="btn btn-primary" ng-click"vm.createVolunteer(vm.volunteerForm.$valid)">Save Application</button>
              </element>
            </element>

        </form>
        </div>
    </div>
        </div>

</body>

</html>
