<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="main.css">
<link rel="stylesheet" type="text/css" href="/modules/core/client/css/core.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">
<section>


  <div class="page-header">
    <h1>Volunteers</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="volunteer in vm.volunteers" ui-sref="volunteers.view({ volunteerId: volunteer._id })" class="list-group-item">
      <small class="list-group-item-text">
        <span ng-bind="volunteer.created | date:'mediumDate'"></span>
        <span ng-if="volunteer.user" ng-bind="volunteer.user.displayName"></span>
        <span ng-if="!volunteer.user">Quick Search</span>
		<input type="text" name="search" placeholder="Search..">

      </small>
      <h4 class="list-group-item-heading" ng-bind="volunteer.name"></h4>
    </a>
  </div>

</section>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="container">
    <h2>Table</h2>
    <p>List of Volunteers:</p>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Age</th>
            <th>City</th>
            <th>Country</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Anna</td>
            <td>Pitt</td>
            <td>35</td>
            <td>New York</td>
            <td>USA</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</body>

</html>
