<!DOCTYPE html>
<html>
<title>Mentorship</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
  <nav role="navigation" class="navbar navbar-custom navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <p class="navbar-text">Assigned Mentorships</p>
      </div>
  <form class="navbar-form navbar-right" role="search">
    <div class="input-group">
      <input class="form-control" type="text" ng-model="vm.search" placeholder="Search" ng-change="vm.figureOutItemsToDisplay()" />
      <span class="input-group-btn">
      <button class="btn btn-custom toolbar-button" type="button" ng-click="vm.search=''; vm.figureOutItemsToDisplay();"><i class="glyphicon glyphicon-remove"></i></button>
    </span>
  </div>
  </form>
</div>
</nav>
</body>

</html>
