<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/modules/core/client/css/core.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <title>Done with your Application!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    .bg-1 {
      background-color: #1abc9c;
      color: #ffffff;
    }
  </style>

  <div class="bg-1">
    <div class="container text-center" style="width:100%; height: 100%; margin-top: 5em; ">
      <h3 style="color: #000000; margin-bottom: 8em">Done with your application!</h3>
      <button type="button" class="btn btn-primary btn-lg" style="width:500px; height: 200px; ;">Submit</button>
    </div>

  </div>

  <div class "bd-1">
    <div class="container text-center">
      <button type="button" class="btn btn-primary btn-md" style="width:100px; height: 50px; margin-top: 5em;">Go Back</button>
    </div>
  </div>
  </body>

</html>
