<style>
.jumbotron {
  posistion:relative;
  z-index: 2;
  box-shadow: 0 4px 16px -6px grey;
}
</style>
<section class="row">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <div class="jumbotron jumbotron-fluid text-center" style="background-color: white">
      <div class="row">
        <!--<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">-->
          <center>
          <img class="img-responsive text-center" src="/modules/core/client/img/idea-sharing-filled.png" style="height: 100px;">
        </center>
        <!--</div>-->
      </div>
      <br>
      <div class="row">
        <h3 style="font-family: 'Lato', sans-serif; font-wight: bold;">CAREERS MENTORING AND SHADOWING PROGRAM</h3>
      </div>
  </div>

  <div class="jumbotron jumbotron-fluid" style="background-color: white">
    <div class="container">
  <div class="col-xs-6 col-md-6" style="padding-right: 8%; border-right: 1px solid #ddd;">
    <h4 style="font-family: 'Lato', sans-serif; font-wight: bold;">Request Sign-up Access</h4>
    <form name="vm.signupReqForm" ng-submit="vm.askForSignup(vm.signupReqForm.$valid)" class="form-horizontal" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="firstName" class="text-center">First Name </label><input type="text" id="firstName" name="firstName" class="form-control" ng-model="vm.credentials.firstName">
          <label for="lastName" class="text-center">Last Name </label><input type="text" id="lastName" name="lastName" class="form-control" ng-model="vm.credentials.lastName">

          <label for="email" class="text-center">Email </label><input type="text" id="email" name="email" class="form-control" ng-model="vm.credentials.email" lowercase required autofocus>
          <div ng-messages="vm.signupReqForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Enter an email.</p>
          </div>

        </div>
        <div class="text-center form-group">
          <button type="submit" class="sign-button sign-in-button sign-in-button-sm">Request</button>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="col-xs-6 col-md-6">
    <center>
      <h4 style="font-family: 'Lato', sans-serif; font-wight: normal;">Already have an account?</h4>
        <button class="sign-button sign-in-button sign-in-button-sm" ui-sref="authentication.signin">Sign in</button>
    </center>
  </div>
</div>
</div>

</section>
