<!DOCTYPE html>
<html>
<title>Sign In</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" type="text/css" href="/modules/core/client/css/core.css">
<link rel="stylesheet" type="text/css" href="/modules/core/client/css/bootstrap.css">
<!-- mainly effects font size/shape/color --> <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
.jumbotron {
  posistion:relative;
  z-index: 2;
  box-shadow: 0 4px 16px -6px grey;
}
body {
background-image:url('/modules/core/client/img/mot6.png');
}
</style>
<div>

  <div class="jumbotron jumbotron-fluid text-center z-depth-5" style="background-color: white; ">
    <div class="row">
      <!--<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">-->
        <center>
        <img class="img-responsive text-center" src="/modules/core/client/img/idea-sharing-filled.png" style="height: 100px;">
      </center>
      <!--</div>-->
    </div>
    <br>
    <div class="row">
      <h3 style="font-family: 'Lato', sans-serif; font-wight: bold;">CAREERS MENTORING AND SHADOWING PROGRAM</h3>
    </div>
</div>
  <div class="jumbotron jumbotron-fluid" style="background-color: white">
    <div class="container">

  <div class="col-xs-6">
    <h4 style="font-family: 'Lato', sans-serif; font-wight: bold;">Sign in</h4>
    <form name="vm.userForm" ng-submit="vm.signin(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <uib-alert type="danger" ng-show="vm.error" class="text-center text-danger">
            <span ng-bind="vm.error"></span>
          </uib-alert>
          <label for="usernameOrEmail">Username or Email</label>
          <input type="text" id="usernameOrEmail" name="usernameOrEmail" class="form-control" ng-model="vm.credentials.usernameOrEmail" placeholder="Username or Email" required autofocus>
          <div ng-messages="vm.userForm.usernameOrEmail.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Username or Email is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" ng-model="vm.credentials.password" placeholder="Password" required>
          <div ng-messages="vm.userForm.password.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Password is required.</p>
          </div>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="sign-button sign-in-button sign-in-button-sm">Sign in</button>
        </div>
        <div class="text-center forgot-password">
          <a ui-sref="password.forgot">Forgot your password?</a>
        </div>
      </fieldset>
    </form>
</div>
<div class="col-xs-6">
  <center>
    <h4 style="font-family: 'Lato', sans-serif; font-wight: normal;">Don't have an account?</h4>
      <button class="sign-button sign-in-button sign-in-button-sm" ui-sref="signup.studentrequest">Request Sign up</button>
  </center>
</div>

  </div>
</div>
</div>
