@import "https://fonts.googleapis.com/css?family=Lato";
@import "https://www.w3schools.com/w3css/4/w3.css";

@media only screen and (max-device-width: 480px) {
  .btn-mobile-visible {
      visibility: visible;
  };

  .btn-desktop-visible {
      visibility: hidden;
  };
}

@media only screen and (min-device-width : 481px) {
  .btn-mobile-visible {
      visibility: hidden;
  };

  .btn-desktop-visible {
      visibility: visible;
  };
}

.content {
  margin-top: 50px;
}
h4 {
	color:gray;
	font-size:90%;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.navbar-collapse  {
	font-size: 90%;
}

.navbar-header {
    padding-right: 15px;
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

@media (min-width: 1208px) { /* our tool bar needs to collapse sooner than 768px*/
  .navbar-toggle {
    display: none;
  }
}

.header-profile-image {
  border-radius: 50%;
  height: 26px;
  margin-right: 5px;
  opacity: 0.8;
  width: 28px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-bottom: 11px !important;
  padding-top: 11px !important;
}
.user-primary-account {
  font-size: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
  font-size: 15px;
}
.has-error .help-inline.error-text {
  display: inline;
  font-size: 15px;
}

.divider {
  width: 2px;
  margin: 6px 0;
  background: blue;
}

.file-download-button {
  background-color: transparent; /* Green */
  border-radius: 60px;
  border: 1px solid;
  padding: 16px 32px;
  width:70%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  margin: 5px 5px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.file-download-button-browse {
  background-color: transparent;
  color: #005DAA;
  border: 1px solid #005DAA;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.file-download-button-browse:hover {
    background-color: #005DAA;
    color: white;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.24),0 13px 30px 0 rgba(0,0,0,0.19);
}

.file-download-button-browse:active {
  transform: translateY(4px);
}

.file-upload-button {
  background-color: transparent; /* Green */
  border-radius: 50px;
  border: 1px solid;
  padding: 3px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px 1px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.file-upload-button-browse {
  background-color: transparent;
  color: #005DAA;
  border: 1px solid #005DAA;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.file-upload-button-browse:hover {
    background-color: #005DAA;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.file-upload-button-browse:active {
  transform: translateY(4px);
}

.file-upload-button-submit {
    background-color: transparent;
    color: green;
    border: 1px solid green;
    width: 20%;
}

.file-upload-button-submit:hover {
    background-color: green;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.file-upload-button-submit:active {
  transform: translateY(4px);
}

.selection-btn {
  background-color: transparent; /* Green */
  border-radius: 50px;
  border: 1px solid;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 3px 3px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.selection-btn-primary {
  background-color: transparent;
  color: #005DAA;
  border: 1px solid #005DAA;
}

.selection-btn-primary:hover {
    background-color: #005DAA;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.selection-btn-primary:active {
  transform: translateY(4px);
}

.selection-btn-danger {
    background-color: transparent;
    color: #ba3107;
    border: 1px solid #ba3107;
}

.selection-btn-danger:hover {
    background-color: #ba3107;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.selection-btn-danger:active {
  transform: translateY(4px);
}

.selection-btn-warning {
    background-color: transparent;
    color: #e5ac32;
    border: 1px solid #e5ac32;
}

.selection-btn-warning:hover {
    background-color: #e5ac32;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.selection-btn-warning:active {
  transform: translateY(4px);
}

.selection-btn-verify {
    background-color: transparent;
    color: green;
    border: 1px solid green;
}

.selection-btn-verify:hover {
    background-color: green;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.sselection-btn-verify:active {
  transform: translateY(4px);
}

.sign-button {
  background-color: transparent; /* Green */
  border-radius: 100px;
  border: 1px solid;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.sign-in-button {
    background-color: transparent;
    color: #005DAA;
    border: 1px solid #005DAA;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.sign-in-button-sm {
  width: 40%;
}
.sign-in-button:hover {
    background-color: #005DAA;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.sign-in-button:active {
  transform: translateY(4px);
}

.sign-in-button-danger {
    background-color: transparent;
    color: #ba3107;
    border: 1px solid #ba3107;
    width: 20%;
}

.sign-in-button-danger-sm {
  width: 40%;
}
.sign-in-button-danger:hover {
    background-color: #ba3107;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.sign-in-button-danger:active {
  transform: translateY(4px);
}

.sign-in-button-warning {
    background-color: transparent;
    color: #e5ac32;
    border: 1px solid #e5ac32;
    width: 20%;
}

.sign-in-button-warning-sm {
  width: 40%;
}
.sign-in-button-warning:hover {
    background-color: #e5ac32;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.sign-in-button-warning:active {
  transform: translateY(4px);
}

.sign-in-button-verify {
    background-color: transparent;
    color: green;
    border: 1px solid green;
    width: 20%;
}

.sign-in-button-verify-sm {
  width: 40%;
}
.sign-in-button-verify:hover {
    background-color: green;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.sign-in-button-verify:active {
  transform: translateY(4px);
}

.list-group-item-1 {

}

.list-group-item-1
.list-group-item-1 {
  background-color: #005DAA;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.list-group-item-2 {
  background-color: #005DAA;
  color: white;
}

.navbar-custom {
  padding: 5px;
    background-color: #003d66;
    box-shadow: 0 4px 16px -6px grey;
    margin-top:-4.5rem !important;
    margin-left: calc(50% - 50vw) !important;
    margin-right: calc(50% - 50vw) !important;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
    padding-left: 5px;
    padding-right: 5px;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}
.toolbar-button {
  color: white;
  padding: 5px;
  border-radius: 5px;
  background-color: #326f98 !important;
  border-color: #1e5b84 !important;
}
.toolbar-button:hover {
  background-color: #d0d4d8 !important;
}

.navbar-input {
  margin-top: 1px;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: "Lato", sans-serif;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
  padding: 20px;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  height: 100%;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100000 !important;
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.jumbotron {
  padding: 16px !important;
  posistion:relative;
  z-index: 2;
  box-shadow: 0 4px 16px -6px grey;
  background-color: white;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.section-divider {
  width: 100%;
  color: #ccc;
  height: 1px;
  background-color:#ccc;
}


.item img {
  margin-left: auto;
  margin-right: auto;
}

.selected img {
	opacity:0.5;
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
}

.carousel-control.left,
.carousel-control.right {
  border: none;
}

.carousel-control.left {
  margin-left: -25px;
}

.carousel-control.right {
  margin-right: -25px;
}

.carousel-control {
  width: 0%;
}


.glyphicon-chevron-left, .glyphicon-chevron-right {
  color: grey;
  font-size: 40px;
}

.loader {
  position: absolute;
  left: 45%;
  top: 40%;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #005DAA; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 3s linear infinite;
  -webkit-animation: rotation 1s infinite linear;
   -moz-animation: rotation 1s infinite linear;
   -o-animation: rotation 1s infinite linear;
   animation: rotation 1s infinite linear;
}

@-webkit-keyframes rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
   from {-o-transform: rotate(0deg);}
   to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}

#overlay{
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .5;
    z-index: 1000000;
}
