@import "https://fonts.googleapis.com/css?family=Lato";
@import "https://www.w3schools.com/w3css/4/w3.css";

.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  border-radius: 50%;
  height: 28px;
  margin-right: 5px;
  opacity: 0.8;
  width: 28px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-bottom: 11px !important;
  padding-top: 11px !important;
}
.user-primary-account {
  font-size: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
  font-size: 15px;
}
.has-error .help-inline.error-text {
  display: inline;
  font-size: 15px;
}

.divider {
  width: 2px;
  margin: 6px 0;
  background: blue;
}
.sign-button {
  background-color: transparent; /* Green */
  border-radius: 100px;
  border: 1px solid;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.sign-in-button {
    background-color: transparent;
    color: #005DAA;
    border: 1px solid #005DAA;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.sign-in-button-sm {
  width: 40%;
}
.sign-in-button:hover {
    background-color: #005DAA;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.sign-in-button:active {
  transform: translateY(4px);
}

.sign-in-button-danger {
    background-color: transparent;
    color: red;
    border: 1px solid red;
    width: 20%;
}

.sign-in-button-danger-sm {
  width: 40%;
}
.sign-in-button-danger:hover {
    background-color: red;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.sign-in-button-danger:active {
  transform: translateY(4px);
}

.sign-in-button-warning {
    background-color: transparent;
    color: #9933ff;
    border: 1px solid #9933ff;
    width: 20%;
}

.sign-in-button-warning-sm {
  width: 40%;
}
.sign-in-button-warning:hover {
    background-color: #9933ff;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.sign-in-button-warning:active {
  transform: translateY(4px);
}

.sign-in-button-verify {
    background-color: transparent;
    color: green;
    border: 1px solid green;
    width: 20%;
}

.sign-in-button-verify-sm {
  width: 40%;
}
.sign-in-button-verify:hover {
    background-color: green;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.sign-in-button-verify:active {
  transform: translateY(4px);
}

.list-group-item-1 {

}

.list-group-item-1
.list-group-item-1 {
  background-color: #005DAA;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.list-group-item-2 {
  background-color: #005DAA;
  color: white;
}

.navbar-custom {
    background-color: #9ea4aa;
    box-shadow: 0 4px 16px -6px grey;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}
.toolbar-button {
  border-radius: 5px;
  background-color: #c1c5c9 !important;
  border-color: #949ba3 !important;
}
.toolbar-button:hover {
  background-color: #d0d4d8 !important;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: "Lato", sans-serif;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
  padding: 20px;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  height: 100%;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100000 !important;
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.jumbotron {
  padding: 16px !important;
  posistion:relative;
  z-index: 2;
  box-shadow: 0 4px 16px -6px grey;
  background-color: white;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.section-divider {
  width: 100%;
  color: #ccc;
  height: 1px;
  background-color:#ccc;
}
